<!-- dialog welcome -->
<div class='dialog_box' id='dialog_welcome' style='display:show;'>
	<div class='title'>Welcome !</div>
	<p>Your lists are saved, so you can log in anytime to view or edit them. Access your settings in the upper left to manage your account.</p>
	<div class='btn_success'>Done</div>
</div>
<!-- dialog BPSExpress -->
<div class='dialog_box' id='dialog_BPSExpress' style='display:show;'>
	<div class='title'>BPSExpress</div>
	<p>Available December 15, pre-register your list online with BPSExpress!</p>
	<div class='btn_success'>Done</div>
</div>
<!-- dialog Share via email -->
<div class='dialog_box' id='dialog_share_via_email' style='display:show;'>
	<div class='title'>Share via email</div>
	<p>Send to friends and family to help with your decision, or send a copy to yourself!</p>
	<form method='' action='' name=''>
		<textarea name='email_addresses' placeholder='email addresses (separate with commas)'></textarea>
		<label>Custom message</label>
		<textarea name='custom_message' >Check out this ranked list of Boston Public School choices I created for Elizabeth!</textarea>
		<div class='btn_success'>Send</div>
	</form>
</div>


<!-- dialog welcome tutoriel-->
<div class='dialog_box' id='dialog_welcome_tutoriel' style='display:show;'>
	<div class='content'>
		<div class='title'>Welcome !</div>
		<p>This is your list of available schools.Drag to reorder them to suit your needs best.</p>
		<div class='btn_success'>Next</div>
		<div class='triangle'></div>
	</div>
</div>
<!-- dialog discover the detail tutoriel-->
<div class='dialog_box' id='dialog_discover_detail' style='display:show;'>
	<div class='content'>
		<div class='title'>Discover the detail</div>
		<p>Click on any school to expand the full details about each</p>
		<div class='btn_success'>Next</div>
	</div>
</div>

<!-- dialog Sort by criteria tutoriel-->
<div class='dialog_box' id='dialog_sort_criteria' style='display:show;'>
	<div class='content'>
		<div class='title'>Sort by criteria</div>
		<p>Click any column header to re-sort the list according to that metric. Some columns expand to show detailed subsections.</p>
		<div class='btn_success'>Next</div>
	</div>
</div>

<!-- dialog specify your needs tutoriel-->
<div class='dialog_box' id='dialog_specify_your_needs' style='display:show;'>
	<div class='content'>
		<div class='title'>Specify your needs</div>
		<p>Select features that matter to you from these options to see which schools fit best.</p>
		<div class='btn_success'>Next</div>
	</div>
</div>

<!-- dialog Dont miss deadlines tutoriel-->
<div class='dialog_box' id='dialog_dont_miss_deadlines' style='display:show;'>
	<div class='content'>
		<div class='title'>Don't miss deadlines</div>
		<p>Click on the Registration Timeline to see the complete process and all important dates.</p>
		<div class='btn_success'>Next</div>
	</div>
</div>

<!-- dialog ready to register tutoriel-->
<div class='dialog_box' id='dialog_ready_register' style='display:show;'>
	<div class='title'>Ready to register?</div>
	<p>Once you've ordered your list of schools, scroll down to prepare for the next steps!</p>
	<div class='btn_success'>Done</div>
</div>