// Colors
$yellow: #FF0;
$orange: #FC5B00;
$light_orange: #FC7B33;
$red: #fc0d1b;
$dark_red: #891118;
$green: #72c900;

$blue: #0077CF;
$light_blue: #80BCE7;
$dark_blue: #064676;

$dark_gray: #404040;
$med_gray: #999;
$light_gray: #ebebeb;
