/* -Screen - tablet */
/* ----------------------------------------------
   ELEMENT LAYOUT - TABLETTE
---------------------------------------------- */
@media screen and (max-width: 1200px) {
  footer.footer .title_footer {
    width: 450px;
    font-size: 13px;
  }
  .standard .wrap {
    width: auto;
  }
  .standard .wrap .content_wrap {
    width: auto;
    margin: 0 87px;
  }
  .standard.two .wrap {
    width: 703px;
    padding: 0 33px;
  }
  .wrap {
    width: 704px;
    margin: 0 auto;
  }
  .wrap .content_wrap {
    width: 100%;
    margin: 0 auto;
  }
  .wrap .menu_compare_name .compare {
    width: 170px;
  }
  .wrap .menu_compare_name .name_list {
    /*width:390px;
        .name_info{width:50%;}*/

  }
  .wrap .preferences {
    width: auto;
    position: relative;
    padding: 23px 0 24px 7px;
    float: none;
    background: #dfdfdf;
    box-shadow: 0 0 0 0 #888888;
    -webkit-box-shadow: 0 0 0 0 #888888;
    -moz-box-shadow: 0 0 0 0 #888888;
  }
  .wrap .preferences .header_preferences {
    display: block;
  }
  .wrap .preferences .preference {
    border: 0;
  }
  .wrap .preferences .colonn {
    width: 20.8%;
    padding: 0 2%;
    float: left;
    border-right: 1px solid #ffffff;
    min-height: 467px;
  }
  .wrap .preferences .colonn.last {
    border: 0;
  }
  .wrap .preferences.hide #preference_content {
    display: none;
  }
  .wrap .preferences.hide .header_preferences #hide_btn {
    display: none;
  }
  .wrap .preferences.hide .header_preferences #show_btn {
    display: inline-block;
  }
  .wrap .preferences.hide .header_preferences .down_arrow {
    display: none;
  }
  .wrap .preferences.hide .header_preferences .up_arrow {
    display: inline-block;
  }
  .wrap #school_list,
  .wrap #compare_list {
    margin-left: 0;
    margin: 0 0 11px 11px;
    overflow: hidden;
  }
  .wrap #school_list .footer_list,
  .wrap #compare_list .footer_list {
    margin-left: 0;
    width: auto;
    margin-right: 11px;
  }
  .wrap #school_list .footer_list .footer_left,
  .wrap #compare_list .footer_list .footer_left {
    width: 327px;
  }
  .wrap #school_list .footer_list .footer_right,
  .wrap #compare_list .footer_list .footer_right {
    width: 182px;
    margin-left: 20px;
  }
  .wrap #school_list .footer_list .footer_right p,
  .wrap #compare_list .footer_list .footer_right p {
    margin-bottom: .4em;
  }
  .wrap #compare_list ul li .no_order {
    width: 176px;
  }
  .wrap #school_list {
    padding-bottom: 0;
  }
  .wrap #school_list ul li .school_descrip .title {
    margin-left: 16px;
  }
  .wrap #school_list ul li .school_descrip .title .fit_icon {
    margin-left: -20px;
    display: inline-block;
  }
  .wrap #school_list ul li .school_descrip .descrip {
    margin-left: 16px;
  }
  .wrap #school_list ul li .school_descrip .full_details {
    width: 305px;
  }
  .wrap #school_list ul li .school_descrip .right_side .tablet {
    display: block;
    float: left;
  }
  .wrap #school_list ul li .school_descrip .right_side .tablet .box {
    padding-left: 20px !important;
    width: 130px !important;
  }
  .wrap #school_list ul li .school_descrip .right_side .desktop {
    display: none;
  }
  .wrap #school_list ul li .school_descrip .right_side .mobile {
    display: none;
  }
  .wrap #school_list ul li .school_name {
    width: 275px;
  }
  .wrap #school_list ul li .box {
    width: 148px;
  }
  .wrap #school_list ul li .eligibility {
    width: 100px;
  }
  .wrap #school_list .shadow {
    display: none;
  }
  .wrap #school_list .menu_list #sortable_school_name_column {
    width: 273px;
  }
  .wrap #school_list .menu_list .menu_bloc {
    width: 151px;
  }
  .wrap #school_list .menu_list .menu_bloc.choice {
    width: 293px;
  }
  .wrap #school_list .menu_list .menu_bloc.your_fit {
    width: 160px;
  }
  .wrap #school_list .menu_list .menu_bloc.your_fit .glass_open {
    display: inline-block;
  }
  .wrap #school_list .menu_list .menu_bloc.open .glass_open {
    display: none !important;
  }
  .wrap #school_list .menu_list .menu_bloc#getting_there .glass_open {
    display: inline-block;
  }
  .wrap .result {
    padding-bottom: 0;
  }
  .wrap.timeline_menu .logo_discover {
    font-size: 76px;
    left: -20px;
  }
  .wrap.timeline_menu .content_wrap {
    padding-bottom: 15px;
  }
  .wrap.timeline_menu .timeline .months .month {
    width: 7.5%;
  }
  .wrap.timeline_menu nav.menu_nav {
    padding-top: 22px;
  }
  .wrap.timeline_menu nav.menu_nav ul li.succeed {
    margin-left: 75px;
  }
  .wrap.timeline_menu nav.menu_nav ul li.register {
    margin-left: 0;
  }
  .wrap .account #personnal_info .bloc_50 {
    width: 340px;
  }
  .wrap .account #personnal_info .bloc_50 input {
    width: 317px;
  }
  .wrap .account #personnal_info .address {
    width: 361px;
  }
  .wrap .account #personnal_info .address input {
    width: 337px;
  }
  .wrap .account #personnal_info .zip {
    width: 222px;
  }
  .wrap .account #personnal_info .zip input {
    width: 200px;
  }
  .wrap .account #personnal_info .sibling_school {
    width: 340px;
  }
  .wrap .account #personnal_info .sibling_school input {
    width: 270px;
  }
  .wrap .account #childrens .children label.bloc_first_name {
    width: 280px;
  }
  .wrap .account #childrens .children label.bloc_first_name input {
    width: 258px;
  }
  .wrap .account #childrens .children label.bloc_last_name {
    width: 232px;
  }
  .wrap .account #childrens .children label.bloc_last_name input {
    width: 210px;
  }
  .wrap .account #childrens .add_child {
    width: 323px;
  }
  .wrap .account #childrens .add_child .text {
    width: 290px;
  }
  .wrap .account #save {
    width: 323px;
  }
  .wrap .single_school {
    padding-left: 2%;
    padding-right: 2%;
    width: 96.1%;
  }
  .wrap .single_school .school_descrip {
    width: 318px;
  }
  .wrap .single_school .box {
    width: 150px;
  }
  .wrap .single_school .desktop {
    display: none;
  }
  .wrap .single_school .tablet {
    display: block;
  }
  .logo_header {
    margin: 10px 0 20px -17px;
  }
}
