/* -Screen - tablet 2 */
/* ----------------------------------------------
   ELEMENT LAYOUT - TABLETTE 2
---------------------------------------------- */
@media screen and (max-width: 1070px) {
  .wrap {
    max-width: 770px;
  }


  /* -------------------------------------------------
	  Header
  ---------------------------------------------------- */  
  .search .logo.discover,
  .timeline_menu .logo_discover {
    font-size: 75px;
		margin-left: -17px;
  }
  
  /* Progress bar
  --------------------------- */  
  .progress_bar {  }



  /* -------------------------------------------------
	  Timeline
  ---------------------------------------------------- */
	.timeline {
		display: none;
	}



  .wrap .menu_school_lists {
		margin-left: 0;
	}


  /* -------------------------------------------------
	  Preferences
  ---------------------------------------------------- */
  .wrap .preferences {
    width: auto;
    position: relative;
    padding: 23px 0 24px 7px;
    float: none;
    background: #dfdfdf;
    box-shadow: 0 0 0 0 #888888;
    -webkit-box-shadow: 0 0 0 0 #888888;
    -moz-box-shadow: 0 0 0 0 #888888;
    
    
    .note {
	    margin: 10px 50px 30px 10px;
    }
  }
  .wrap .preferences .header_preferences {
    display: block;
		margin-left: 10px;
  }
  .wrap .preferences .preference {
    border: 0;
  }
  .wrap .preferences .colonn {
    width: 20.8%;
    padding: 0 2%;
    float: left;
    border-right: 1px solid #ffffff;
    min-height: 467px;
  }
  .wrap .preferences .colonn.last {
    border: 0;
  }
  .wrap .preferences.hide #preference_content {
    display: none;
  }
  .wrap .preferences.hide .header_preferences #hide_btn {
    display: none;
  }
  .wrap .preferences.hide .header_preferences #show_btn {
    display: inline-block;
  }
  .wrap .preferences.hide .header_preferences .down_arrow {
    display: none;
  }
  .wrap .preferences.hide .header_preferences .up_arrow {
    display: inline-block;
  }


	/* ------------------------------------------------
	Menu List (column Headers)
	--------------------------------------------------- */
	#school_list .menu_list .menu_bloc {
		font-size: 12px;
	}
	
  #school_list .menu_list .menu_bloc#sortable_school_name_column {
		width: 24%;
  }
	#school_list .menu_list .menu_bloc#sortable_star_column {
		width: 5.5%;
	}
  #school_list .menu_list .menu_bloc {

  }
  #school_list .menu_list .menu_bloc.choice {

  }
  #school_list .menu_list .menu_bloc.your_fit {

  }
  #school_list .menu_list .menu_bloc.your_fit .glass_open {
    display: inline-block;
  }
  #school_list .menu_list .menu_bloc.open .glass_open {
    display: none !important;
  }
  #school_list .menu_list .menu_bloc#getting_there .glass_open {
    display: inline-block;
  }

  /* -------------------------------------------------
	  School List
  ---------------------------------------------------- */
  #school_list {
    padding-bottom: 0;
  }

  #school_list,
  .wrap #compare_list {
    margin-left: 0;
    margin: 0 0 11px 11px;
    overflow: hidden;
  }
  #school_list .footer_list,
  .wrap #compare_list .footer_list {
    margin-left: 0;
    width: auto;
    margin-right: 11px;
  }
  #school_list .footer_list .footer_left,
  .wrap #compare_list .footer_list .footer_left {
    //width: 327px;
  }

  #school_list .footer_list .footer_right p,
  .wrap #compare_list .footer_list .footer_right p {
    margin-bottom: .4em;
  }
  #school_list li .line.no_order {
	  width: 5.5%;
	  
	  img { max-width: 20px; }
  }
  #school_list li .line.school_name {
	  font-size: 14px;
	  width: 24%;
  }
  #school_list li .line.getting_there {
	  font-size: 12px;
	  .icon { display: none; }
  }
  #school_list li .line.eligibility {
	  font-size: 12px;
  }
  
  
	/* School Descrip
	------------------------------------------- */
  #school_list ul li .school_descrip .title {
    margin-left: 16px;
  }
  #school_list ul li .school_descrip .title .fit_icon {
    margin-left: -20px;
    display: inline-block;
  }
  #school_list ul li .school_descrip .descrip {
    margin-left: 16px;
  }
  #school_list ul li .school_descrip .full_details {
    //width: 305px;
  }
  #school_list ul li .school_descrip .right_side .tablet {
    display: block;
    float: left;
  }
  #school_list ul li .school_descrip .right_side .tablet .box {
    //padding-left: 20px !important;
    //width: 130px !important;
  }
  #school_list ul li .school_descrip .right_side .desktop {
    display: none;
  }
  #school_list ul li .school_descrip .right_side .mobile {
    display: none;
  }
  #school_list ul li .school_name {
    //width: 275px;
  }
  #school_list ul li .box {
    //width: 148px;
  }
  #school_list ul li .eligibility {
    //width: 100px;
  }
  #school_list .shadow {
    display: none;
  }

	/* School Photos
	-------------------------- */
  #main_gallery_image{
    margin: 30px 0 20px 0;
  }



  /* -------------------------------------------------
	Dialog Box
  ---------------------------------------------------- */
  .dialog_box {

	  &.dialog_box_discover {
	    width: 536px;
	    margin: 0 0 0 -268px;
	  }
	  &.dialog_box_discover .content {
	    width: auto;
	  }
	  &.dialog_box_discover .content .selection {
	    min-width: 410px;
	  }
	  &.dialog_box_discover .content .bloc .input_select {
	    width: 400px;
	  }
	  &.dialog_box_discover .content .bloc .preference {
	    width: 200px;
	  }
	  &.dialog_box_discover .content .bloc .preference.column_3 {
	    clear: both;
	    margin: 40px 0 0 0;
	  }
	  &.dialog_box_discover .content .bloc .preference.column_4 {
	    margin: 40px 0 0 0;
	  }
	  	  	  
	  .form_line {
    margin-bottom: 0;
    height: auto;
    background: none;
    width: auto;
    float: none;
	
	  input {
	    background: #ffffff;
	    margin-bottom: 12px;
	  }
	  .bloc_2.select_grade .arrow {
	    right: 4%;
	  }
		.bloc_2.select_grade .option_grade {
		  left: 0;
		  right: 0;
		  width: auto;
			padding-left: 15px;
	  }
	  .separation_bloc {
	    display: none;
	  }
	  .bloc_1 {
	    float: none;
	    width: 96%;
	    padding-left: 4%;
	  }
	  .bloc_3 {
	    float: none;
	    width: 96%;
	    padding-left: 4%;
	  }
	  .bloc_4 {
	    float: none;
	    width: 96%;
	    padding-left: 4%;
	  }
	  .bloc_2 {
	    padding-left: 4%;
	    width: 56%;
	    margin-bottom: 30px;
	  }
	  .bloc_2.select_grade {
	    float: none;
	    width: auto;
	    height: 38px;
	    margin-bottom: 12px;
	  }
	  .bloc_5 {
	    float: none;
	    width: 100%;
	    margin-left: 0;
	  }
	  .bloc_6 .arrow {
	    right: 4%;
	  }
	
	  .bloc_6 {
	    float: none;
	    width: 96%;
	    padding-left: 4%;
	    display: none;
	    margin-left: 0;
	  }
	  .bloc_6 input {
	    margin-bottom: 0;
	  }
	  .bloc_6.portrait {
	    display: block;
	    margin-bottom: 12px;
	  }
	  .btn {
	    margin-bottom: 12px;
	    padding-right: 0;
	  }
	  .btn.current_location {
	    width: 36%;
	    padding-left: 4%;
	  }
	  .btn.current_location .text {
	    width: 75px;
	  }
	  .btn.add_child {
	    width: 96%;
	    padding-left: 4%;
	    margin-bottom: 30px;
	    float: none;
	    padding-top: 9px;
	    height: 29px;
	  }
	  .btn.add_child .text {
	    width: 80%;
	    text-align: left;
	  }
	  
	}// .form_line
  }
  
  
  .search .search_header .title_bloc {
    position: relative;
  }
  .search .search_header .title_bloc h1 {
    width: 553px;
  }
  .search .search_header .title_bloc .logo_beta {
    top: -20px;
  }
  .search .search_header p {
    width: 553px;
  }
  .search .search_header .tablet {
    display: block;
    float: none;
  }
  .search .small_text {
    margin-bottom: 20px;
  }
  .search .search_section .no_tablet {
    display: none;
  }
  .search .search_section .content_right {
    width: 100px;
    right: -11.8px;
  }
  .search .search_section .content_right .event .tablette {
    display: block;
  }
  .search .search_section .content_right .event .desktop {
    display: none;
  }
  .search .search_section .content_right .event .point_font {
    position: relative;
    right: -20px;
  }
  .search .search_section .content_right .event .start_point {
    position: relative;
    display: block;
    top: 0;
    right: -2px;
  }
  .search .search_section .content_right .event.first {
    background: #0077cf;
    padding-bottom: 2px;
  }
  .search .search_section .content_right .event .desktop,
  .search .search_section .content_right .event .mobile {
    display: none;
  }
  .search .search_section .content_left {
    //width: 553px;
    //margin-right: 156px;
    margin-right: 0;
  }
  .search .search_section .content_left .text {
    margin-left: 0;
  }
  .search .search_section .point_arrow {
    margin-right: 2px;
  }
  .search .search_section.second {
    /*.point{width: auto;height: auto;top:8px;position: relative;right: 0;}*/

  }
  .search .search_section.second .point_arrow {
    margin-right: 2px;
    margin-top: 10px;
  }
  .search .search_section_content {
    position: relative;
  }
  .search .search_section_content .today {
    color: #ffff00;
    position: absolute;
    top: 10%;
    width: 115px;
    font-size: 12px;
    right: -32px !important;
    text-align: right;
  }
  .search .search_section_content .today.left .left {
    display: none;
  }
  .search .search_section_content .today.left .right {
    display: none;
  }
  .search .search_section_content .today.right .right {
    display: none;
  }
  .search .search_section_content .today.right .left {
    display: none;
  }
  .search .search_section_content .today .yello_line {
    display: inline-block;
    width: 49px;
    height: 2px;
    border-top: 1px solid #ffff00;
  }
  

	/* --------------------------------------- 
	compare and rank
	------------------------------------------ */
  .compare_list {
		
		.column { 
			float: none; 
			
			&.labels {
			  width: 100%;
				float: none;
				display: table;
				@include clearfix;
		  }
			&.sort_schools {
				width: 100%;
				padding: 0;
				margin: 0;
			}
			&.more_schools {
				width: auto;
				margin: 0 0 0 13%;
			}
		}
	  
	  .labels_frame {
		  padding: 0;  
	  }
	  
	  .label {
		  display: none;
		  width: 10%;
		  float: left;
		  padding-left: 2%;
		  height: auto;
		  margin: 0;
		  
		  &.rank,
		  &.name,
		  &.your_fit {
			  height: auto;
			  display: block;
			  margin: 0 0 10px 0;
		  }
		  &.rank {
			  width: 13%;
			  text-align: center;
		  }
		  &.name {
			  width: 58%;
				margin-left: 10%;
		  }
		  &.your_fit {
				width: 19%;
		  }
	  }
	  
		#ranks {
			width: 13%;
			float: left;
			text-align: center;
			margin: 0;

			.rank {
				width: 100%;
				float: none;
				height: 72px;
				line-height: 72px;
				margin-bottom: 10px;
			}
		}

	  .compare_list_content {
			width: 87%;
			float: left;
		}
	
		.sortable_school {
			width: 100%;
			float: none;

			.li_frame {
				margin: 0 0 10px;
			}
			
			.line {
				display: none;
				height: 50px;
				line-height: 50px;
				float: left;
				
				&.school_star {
					display: block;
					position: static;
					font-size: 42px;
					width: 8%;
					text-align: center;
					img {
						width: auto;
					}
				}
				&.school_name {
					display: block;
					width: 70%;
					margin: 0 0 0 2%;
				}
				&.school_your_fit_icon {
					display: block;
					width: 20%;
				}
			}
		}
	
		.more_schools_frame { margin: 0; }
		
		.footer_list {
			padding: 30px;
		}
	}


	/* --------------------------------------- 
	Get Ready Page
	------------------------------------------ */
  .get_ready {

		.column { float: none; }

		#footer_content {
			display: none;			
		}
		#school_list {
			width: auto;
			margin: 25px 25px 35px;
		}
	}



  .wrap .single_school {
    padding-left: 2%;
    padding-right: 2%;
    width: 96.1%;
  }
  .wrap .single_school .school_descrip {
    width: 318px;
  }
  .wrap .single_school .box {
    width: 150px;
  }
  .wrap .single_school .box .absolute {
    position: absolute;
    width: 150px;
  }
  .wrap .single_school .desktop {
    display: none;
  }
  .wrap .single_school .tablet {
    display: block;
  }
}
