/* ----------------------------------------------
   Mobile Layout
---------------------------------------------- */
@media screen and (max-width: 768px) {
  .no_mobile {
    display: none;
  }

	.wrap {
		padding: 0 20px;
	}

/*
  .standard .wrap.search {
    width: auto;
    padding: 0 33px;
    margin: 0;
  }
*/
  .standard .wrap.search .content_wrap {
    width: 100%;
  }
/*
  .standard.one .wrap {
    min-width: 254px;
    padding: 0 33px;
  }
  .standard.two .wrap {
    width: auto;
    min-width: 254px;
    padding: 0 33px;
  }
*/
  
  
  
  /* -------------------------------------------------
	Page Header
  ---------------------------------------------------- */
  .timeline_menu .timeline {
    display: none;
  }
  .timeline_menu nav.menu_nav {
	  display: none;
    position: relative;
    padding-top: 0;
    font-size: 15px;
  }
  .timeline_menu nav.menu_nav #menu_nav_mobile {
    display: inline-block;
    float: right;
  }
  .timeline_menu nav.menu_nav #menu_items {
    display: none;
  }
  .timeline_menu nav.menu_nav ul li {
    margin: 20px 0;
    float: none;
  }
  .timeline_menu nav.menu_nav ul li.first {
    margin: 0 0 20px 0;
  }
  .timeline_menu nav.menu_nav ul li.visit {
    color: #000000;
  }
  .timeline_menu nav.menu_nav ul li.languages_mobile {
    color: #80bce7;
  }
	  .timeline_menu nav.menu_nav ul li.languages_mobile a span {
    font-size: 8px;
  }
  .timeline_menu nav.menu_nav ul li.languages_mobile .list_languages {
    font-size: 13px;
    padding: 0 0 0 35px;
    display: none;
  }
  .timeline_menu nav.menu_nav ul li.languages_mobile .list_languages .language {
    color: #80bce7;
  }
  .timeline_menu nav.menu_nav ul li.languages_mobile .list_languages .language.current_language {
    color: #ffffff;
  }

  
  
  
  .wrap .single_school {
    padding-left: 2%;
    padding-right: 2%;
    width: 96.1%;
  }
  #main_gallery_image{
    margin: 30px 0 20px 0;
  }
  .wrap .photos {
    float: none;
  }
  .wrap .single_school .school_descrip {
    float: none;
    width: 100%;
    padding: 0;
    margin: 15px 0 0 0;
  }
  .wrap .single_school .desktop {
    display: none;
  }
  .wrap .single_school .tablet {
    display: block;
  }
  .wrap .single_school .box {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 50px;
  }
  .wrap .single_school .box .absolute {
    position: relative;
    width: 100%;
  }
  .wrap .single_school .box.empty {
    display: none;
  }
  
  
  
  
  
  
  
  
  .wrap.global_map {
    height: 290px;
  }
  .wrap.global_map #googleMap {
    height: 290px;
  }
  
    
  
  
  .wrap .menu_compare_name .flexible_content {
    width: auto !important;
  }
  .wrap .menu_compare_name .compare {
    display: none;
  }
  .wrap .menu_compare_name .name_list {
    float: none;
  }
  .wrap .menu_compare_name .name_list .name_info {
    margin-left: 0;
    display: none;
    height: 50px;
  }
  .wrap .menu_compare_name .name_list .name_info.active {
    display: block;
    width: 100%;
  }
  .wrap .menu_compare_name .add_child {
    display: none;
  }
  
  
  
  
  
  .wrap .preferences {
    display: none !important;
  }
  #school_list {
    margin: 10px 0 25px 10px;
    padding: 0;
    
    .note {
	    margin: 10px 50px 20px 0;
    }
  }
  #school_list ul {
    width: auto;
  }
  #school_list ul li .box {
    width: auto;
  }
	#school_list {
		
		.list_content { overflow: hidden; }
		
		li {
			.line {
				
				&.no_order {
					width: 12%;
					img { max-width: none }
				}
				&.school_name {
					font-size: 22px;
					width: 80%;
				}
				&.your_fit_icon,
				&.getting_there,
				&.eligibility,
				&.school_hours {
					display: none;
				}
			}
		}
	}




  #school_list ul li .school_name .full_descrip_link {
    display: none;
  }
  #school_list ul li .school_descrip {
    width: 100%;
  }
  #school_list ul li .school_descrip .school_name {
    padding-left: 19px;
    width: auto;
  }
  #school_list ul li .school_descrip .right_side .photos .principal {
    height: auto;
  }
  #school_list ul li .school_descrip .right_side .mobile {
    display: block;
  }
  #school_list ul li .school_descrip .full_details {
    width: auto;
  }

  #school_list ul#sortable li .mobile .box {
    display: block;
    float: none;
  }
  #school_list ul#school_descrip li .box {
    display: block;
  }
  #school_list .menu_list {
    display: none;
  }
  #school_list #sortable {
    overflow: hidden;
  }
  #school_list .footer_list {
    width: auto;
    padding: 28px 11px 10px;
    margin-right: 11px;
  }





  .footer_list .footer_left {
    width: 100%;
    float: none;
    padding: 0 0 20px 0;
  }
  .footer_list .footer_center {
	  width: 100%;
	  float: none;
	  border: 0;
    border-top: 1px solid #ffffff;
    padding: 20px 0;
  }
 .footer_list .footer_right {
    width: 100%;
    float: none;
    border: 0;
    border-top: 1px solid #ffffff;
    padding: 20px 0 ;
    margin-left: 0;
  }
  
  
  
  
  .dialog_box {
		
		&.dialog_box_discover {
		  width: auto;
			left: 100px;
			right: 100px;
			margin: 0;
			padding: 20px;
	  }
	}
  
  
  .wrap .result {
    padding-bottom: 0;
  }




  .search .search_header {
    width: auto;
  }
  .search .search_header .title_bloc {
    position: relative;
  }
  .search .search_header .title_bloc h1 {
    display: block;
    width: auto;
  }
  .search .search_header .title_bloc .logo_beta {
    position: absolute;
    bottom: -10px;
    right: 0;
    top: inherit;
  }
  .search .search_header p {
    width: auto;
  }
  .search .search_header .tablet {
    display: block;
    float: none;
  }
  .search .search_section {
    border: none !important;
  }
  .search .search_section .no_tablet {
    display: none;
  }
  .search .search_section .content_right {
    display: none;
  }
  .search .search_section .content_left {
    width: auto;
    margin-right: 0;
  }
  .search .search_section .content_left .text {
    width: auto;
  }
  .search .search_section.third .final_point {
    display: none;
  }
  .search .logo {
    float: none;
  }
  .search .search_section_content .today {
    display: none !important;
  }
  
  .search .user_lists,
  .search .new_search_form_wrap {
	  width: 75%;
  }
  
	/* Search Form
	------------------------------------------------------------- */  
  .form_line {
    margin-bottom: 0;
    height: auto;
    background: none;
    width: auto;
    float: none;
	
	  input {
	    background: #ffffff;
	    margin-bottom: 12px;
	  }
	  .bloc_2.select_grade .arrow {
	    right: 4%;
	  }
		.bloc_2.select_grade .option_grade {
		  left: 0;
		  right: 0;
		  width: auto;
			padding-left: 15px;
	  }
	  .separation_bloc {
	    display: none;
	  }
	  .bloc_1 {
	    float: none;
	    width: 96%;
	    padding-left: 4%;
	  }
	  .bloc_3 {
	    float: none;
	    width: 96%;
	    padding-left: 4%;
	  }
	  .bloc_4 {
	    float: none;
	    width: 96%;
	    padding-left: 4%;
	  }
	  .bloc_2 {
	    padding-left: 4%;
	    width: 46%;
	    margin-bottom: 30px;
	  }
	  .bloc_2.select_grade {
	    float: none;
	    width: auto;
	    height: 38px;
	    margin-bottom: 12px;
	  }
	  .bloc_5 {
	    float: none;
	    width: 100%;
	    margin-left: 0;
	  }
	  .bloc_6 .arrow {
	    right: 4%;
	  }
	
	  .bloc_6 {
	    float: none;
	    width: 100%;
	    //display: none;
	    margin-left: 0;
			margin-bottom: 12px;
	  }
	  .bloc_6 input {
	    margin-bottom: 0;
	  }
	  .bloc_6.portrait {
	    display: block;
	    margin-bottom: 12px;
	  }
	  .btn {
	    margin-bottom: 12px;
	    padding-right: 0;
	  }
	  .btn.add_child_button {
			margin-bottom: 30px;
		}
	  .btn.current_location {
	    width: 36%;
	    padding-left: 4%;
	  }
	  .btn.current_location .text {
	    width: 75px;
	  }
	  .btn.add_child {
	    width: 96%;
	    padding-left: 4%;
	    margin-bottom: 30px;
	    float: none;
	    padding-top: 9px;
	    height: 29px;
	  }
	  .btn.add_child .text {
	    width: 80%;
	    text-align: left;
	  }
	  
	}// .form_line
  
  
  .wrap .account #personnal_info .bloc_50 {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  .wrap .account #personnal_info .bloc_50 input {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .wrap .account #personnal_info .address {
    width: 100%;
    float: none;
  }
  .wrap .account #personnal_info .address input {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    float: none;
  }
  .wrap .account #personnal_info .address .separation_bloc {
    display: none;
  }
  .wrap .account #personnal_info .zip {
    width: 175px;
  }
  .wrap .account #personnal_info .zip input {
    width: 153px;
  }
  .wrap .account #personnal_info .sibling_school {
    width: 100%;
    float: none;
  }
  .wrap .account #personnal_info .sibling_school input {
    width: 76%;
    padding-left: 14%;
    padding-right: 10%;
  }
  .wrap .account #childrens .children label.bloc_first_name {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  .wrap .account #childrens .children label.bloc_first_name input {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .wrap .account #childrens .children label.bloc_last_name {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  .wrap .account #childrens .children label.bloc_last_name input {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .wrap .account #childrens .children label.delete_btn {
    float: none;
  }
  .wrap .account #childrens .add_child {
    width: auto;
    float: none;
  }
  .wrap .account #childrens .add_child .text {
    width: 87%;
  }
  .wrap .account #save {
    width: 100%;
  }
  


  footer.footer {
    padding: 19px;
    height: auto;
  }
  footer.footer .title_footer {
    float: left;
    width: auto;
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    width: 300px;
  }
  footer.footer .wrap {
    font-size: 12px;
    line-height: 17px;
    padding: 0 !important;
  }
  .desktop_tablet {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }
  .list_content .flexible_content {
    width: auto !important;
  }
  .li_frame {
    width: auto;
    position: relative;
  }
  .mobile_only {
    display: block;
  }
}

@media screen and (max-width: 640px) {

  .wrap .photos {
    float: left;
  }
  
}



/* ----------------------------------------------
   Mobile portrait Layout
---------------------------------------------- */
@media screen and (max-width: 607px) {

	.wrap {
		padding: 0 14px;
	}
  .wrap.standard {
    width: 100%;
    margin: 0;
  }
  
  
	.dialog_box {
		
		&.dialog_box_discover {
			left: 20px;
			right: 20px;
	  }
	}
  
  
  .account_tab {
		margin: 0;
	}
	.menu_item { margin-left: 10px; }

	.search .logo.discover,
  .timeline_menu .logo_discover {
    font-size: 50px;
		margin-left: -11px;
  }

  .timeline_menu nav.menu_nav ul li.succeed {
    margin-left: 75px;
  }
  .timeline_menu nav.menu_nav ul li.register {
    margin-left: 0;
  }


  .search .search_header h1 {
    display: inline;
  }
  .search .search_header .logo_beta {
    position: relative;
    top: 0;
    right: 0;
  }
  .search .search_section.first .content_left {
    padding-bottom: 30px;
    
    .home_intro { font-size: 100%; }
  }
  .search .logo.register {
    font-size: 68px;
  }
  .search .logo.succeed {
    font-size: 47px;
  }


	.progress_bar {

		.steps .step {
			width: 50%;
			margin: 0 0 10px 0;

			.bar {

				//.point.terminal { display: block; }
			}
			.label {
				line-height: 1.2em;
				.step_name {
					font-size: 10px;
					text-transform: uppercase;
				}
			}
		}
	}
	
	
	.search .new_search_form_wrap {
	  width: 100%;
  }
	.form_line {

		.bloc_6 input {
			margin-bottom: 0;
			font-size: 14px;
		}
	}


	.wrap .menu_school_lists { margin-top: 0; }
	.wrap .menu_school_lists .name_list .school_list_tab {
		width: 100%;
		margin-bottom: 2px;
	}


	#school_list {
				
		li {
			.line {
				&.no_order {
					width: 15%;
					img { max-width: 20px; }
				}
				&.school_name {
					font-size: 18px;
					width: 75%;
				}
			}
		}
	}

	#school_list .school_descrip .right_side { margin: 0 10px; }
	#school_list .school_descrip .right_side .column_left,
	#school_list .school_descrip .right_side .column_right {
		width: auto;
		float: none;
		margin: 0;
	}


  footer.footer .title_footer {
    padding-top: 0;
    font-size: 12px;
    width: 50%;
  }
  footer.footer .wrap {
    font-size: 12px;
    line-height: 17px;
    padding: 0 !important;
  }
	.footer_notice { width: 96%; }


	.compare_list {
		
		.column.more_schools { margin: 0 0 0 20%; }
		.column.labels { margin: 20px 0 0 }
		
		.label.rank { width: 20%; }
		.label.name { width: 68%; margin-left: 12%; }
		.label.your_fit { display: none; }
		
		.compare_list_content {
			width: 80%;
		}
		
		#ranks {
			width: 20%;
		}
		
		.sortable_school {
			
			.line {
				
				&.school_star {
					width: 10%;	
					font-size: 32px;
					img { width: 20px; height: auto; }
				}
				&.school_name {
					font-size: 1.2em;
					line-height: 54px;
				}
				&.school_your_fit_icon { display: none; }
			}
		}
	}


}