.wrap.clearfix
  .account_tab
    .language_box.menu_item
      .btn_account
        %span.icon.icon-DBPS-Dev-Assets-SRG-34{ style: "font-size: 13px;" }
        = link_to "Discover", root_url, class: "no-decoration"

    = render partial: 'layouts/language_tab'
    = render partial: 'layouts/account_tab'

.wrap.timeline_menu{ style: "margin-top: 0px;" }
  %section.logo_header.clearfix
    %nav.menu_nav
      %span#menu_nav_mobile.icon-DBPS-Dev-Assets-SRG-25{ aria: { hidden: "true" } }

    .logo_choose
      - token = params[:token] || current_student.try(:token)
      %a{href: "/choice_schools?token=#{token}", class:"no-decoration"}
        %span.choose-icon{ aria: { hidden: "true" } }
.clr

:javascript

  $('.menu_item').hover(
    function() {
      $(this)
        .addClass('hovered')
        .find('.menu_box')
        .fadeIn(250);
    }, function() {
      $(this)
        .removeClass('hovered')
        .find('.menu_box')
        .fadeOut(250);
  });

  var is_open_menu_mobile= false;

  $("#menu_nav_mobile").click(function() {

    if (is_open_menu_mobile) {
      // Close mobile
      is_open_menu_mobile= false;

      $("#menu_items").animate({
        height: "0"
        }, 200, function() {
        // Animation complete.
        $(this).css("display", "none");
        $(".menu_nav").width("31px");
        $("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-07" ).addClass( " icon-DBPS-Dev-Assets-SRG-25" );

      });
     } else {
      // Open mobile
      $(".menu_nav").width("100%");
      is_open_menu_mobile= true;
      $("#menu_items").css("display", "block");
      $('#menu_items').css('height', 'auto');
      var autoHeight = $('#menu_items').height();
      $("#menu_items").css("height", "0");

      $("#menu_items").animate({
        height: autoHeight
        }, 200, function() {
        $('#menu_items').css('height', 'auto');
        $("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-25" ).addClass( " icon-DBPS-Dev-Assets-SRG-07" );
      });
     }
  });

  window.onresize = function(event) {
    $("#menu_items").css("display", "none");
    $(".menu_nav").width("auto");
    $("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-07" ).addClass( " icon-DBPS-Dev-Assets-SRG-25" );
    is_open_menu_mobile= false;
  }
