= render partial: "header"

.wrap
  .result
    #choice-layout
      .light
        - if flash[:alert].present?
          %p{style: 'color: red;'}
            = flash[:alert]
        %h2
          2015/2016 School Choice
        %br/
        %p
          Thank you for accessing the Discover website. This site will help you navigate the School Choice registration process.
        %p
          On the following screens, you will find a list of your eligible schools. You can learn about each school, and then rank the list in your desired order. Once you have ordered your list, you can submit to the School Department as your official School Choice selection.
        %p
          We know that choosing a school for your child is an important decision. If you have questions about school options or the assignment process, please visit one of the BPS Welcome Centers or call the BPS Hotline at 617-635-9046.
        %p
          Thank you for choosing the Boston Public Schools! for success through high school and beyond.
        %p
          Tommy Chang,
          %br/
          Superintendent

      %br/
      = link_to "Continue", verify_choice_schools_path(token: params[:token]), id: "continue-button"
