= render partial: 'layouts/choice_schools/header'

.wrap
  .result
    #choice-layout
      %h2{ style: "margin-bottom: 1em;" }
        Summary

      .light
        %p
          Your ranked choices are as follows:

        %ol{ style: "margin: 2em 0 2em 1.3em;" }
          - @choice_schools.each do |school|
            %li
              %h3
                = school.school.name

        %p
          If this list is correct, please click the "submit" button below to submit your official selection to the school department.
        %p
          If you would like to change your list, please #{link_to "click here", order_choice_schools_path(token: params[:token])} to return to the previous screen.

        %div{ style: "margin-top: 2em;" }
          = button_to "Submit", submit_choice_schools_path(token: params[:token]), id: "continue-button", data: { disable_with: 'Submitting...' }
