- if TextSnippet.find('footer-intro').present?
  .footer_notice.dark_gray
    %p{style: 'margin-bottom: 0.5em;', class: 'big'}
      Notice:
    %p.light
      = auto_link(TextSnippet.find('footer-intro').text)
