<div class="close_icon"><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-07"></span></div>
<!-- dialog hello -->
<div class='content'>
	<span class='title'>Hello! ¡Hola! Olá! Xin chào!</span>
	<div class='bloc'>
		<p class='first'>As part of the registration process, every applicant is asked to complete a Home Language Survey. The results of this Survey determine whether a child needs additional language assessment at our Newcomers Assessment and Counseling Center. If this is the case, a child's school choices may expand beyond his/her Home Based options to include program seats in a wider community cluster of schools. <%= link_to 'Click here', 'http://www.bostonpublicschools.org/assignment', target: '_blank', class: 'blue' %> to view a map of the ELL Clusters. Note, your cluster is based on your place of residence.  You may still use this tool to learn about your Home Based school options.</p>
		<p>For more information on clusters, the Language Assessment, or the Newcomer's Assessment and Counseling Center, please call a Welcome Center near you or contact the Newcomers Center directly at:</p>
	</div>
	<div class='tel'>617-635-1565</div>

	<br />
	<br />

	<% if @student.iep_needs? %>
		<%= link_to 'Next', iep_needs_student_path(@student), id: 'iep_button', class: 'orange_button next_button' %>
	<% else %>
		<%= link_to 'Next', schools_path, id: 'schools_button', class: 'orange_button next_button' %>
	<% end %>

</div>
<script>
	$('#iep_button').click(function(e){
		e.preventDefault();
		$('#dialog_box').html("<%= escape_javascript(render partial: 'students/iep_needs', locals: {student: @student}) %>");
	});

	$('.next_button').click(function() {
		$('.next_button').text('Working...');
	});

	$(".close_icon").click(function() {
		$(".dialog_box").fadeOut("fast").removeClass("active");
	});
	$(".dialog_box").click(function(e){
  	e.stopPropagation();
	});
</script>