<div class="content_right">
	<span class="event first" style="margin-bottom:37px;">
		REGISTRATION TIMELINE <span aria-hidden="true" class="start_point icon-DBPS-Dev-Assets-SRG-35"></span>
	</span>
	<span class="event Y">
		<span class="desktop">
			Discover schools
		</span>
		<span class="tablette">
			<img class="point" src="/assets/yellow_point.png" />
		</span>
	</span>
	<span class="event Y">
		<span class="desktop">
			Compare options
		</span>
		<span class="tablette">
			<img class="point" src="/assets/yellow_point.png" />
		</span>
	</span>
	<span class="event">
		<span class="desktop">
			Nov 3<br/>
			<span class="W" style="font-size:12px;line-height:15px;">
				School Previews and<br/>
				School Showcases start
			</span>
		</span>
		<span class="tablette">
			<img class="point_arrow" src="/assets/blue_point_arrow.png" />
		</span>
	</span>
	<span class="event y">
		<span class="desktop">
			Create your list
		</span>
		<span class="tablette">
			<img class="point" src="/assets/yellow_point.png" />
		</span>
	</span>
	<span class="event last">
		<span class="desktop">
			Dec 15<br/>
			<span class="W">
				Pre-register
			</span>
		</span>
		<span class="tablette">
			<img class="point" src="/assets/blue_point_white.png" />
		</span>
	</span>
</div>
