
<!-- partials are injected into this dialog box - don't delete -->
<div id='dialog_box' class='dialog_box dialog_box_dicover' style='display:none;'>
</div>


<div class="wrap ">
	<div class="content_wrap">
	</div>
</div>
<div class="wrap ">
	<div class="content_wrap search">
		<%= render partial: 'schools/account_tab' %>

		<div class="search_header">
			<div class="title_bloc">
				<h1>Welcome to Boston Public Schools Registration</h1>
				<img class="logo_beta" src="/assets/logo_beta.png" alt="beta"/>
			</div>
			<p>This website provides resources for finding, exploring and comparing a student's eligible schools. </p>
							<p class="small_text tablet">Looking for the 2013-2014 school year?</p>
			
					 </div>
					<div class="search_section_content "> 
					 
						<!-- ADD CLASS "RIGHT" TO MOVE THE TODAY INDICATOR TO RIGHT OF THE TIME LINE, OR "LEFT" TO MOVE TO THE LEFT  FOR LARGEUR OF TABLET SIZE -->
						<!-- AND change the top % to ajust the today up or down -->
						<div class="today right" style="top:<%= timeline_percent(Date.today) %>;">
							<span aria-hidden="true" class="right icon-DBPS-Dev-Assets-SRG-30"></span>&nbsp; Today &nbsp;<span aria-hidden="true" class="left icon-DBPS-Dev-Assets-SRG-32"></span>
							<span class="yello_line"></span>
						</div> 
						<!-- END today indicator-->
						
						<!-- Discover section -->
			<section class="search_section first">
				<p class="small_text no_tablet">Looking for the 2013-2014 school year?</p>	
				<div class="content_left">
					
					<div class="logo discover" >
						<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-01"></span>
					</div>
					<div class="text">
						<br />
						<div class='bloc'>
							<p class='first'>
								For students with disabilities, placement in a school is determined by their Individualized Education Plan (IEP) and the availability of appropriate seats.  While families are able to indicate school choices through the regular assignment process, placement decisions are made by Boston Public’s IEP team. Students with low levels of need (i.e. Pull-Out or Push-In Resources) can have these needs met in any district school, and may therefore choose from the same set of schools as general education students. For questions about SWD placements, please call:
							</p>
						</div>
						<h2>617-635-8599</h2>

						<br />
						<br />
						<%= link_to 'Display All Schools', schools_path, id: 'next_button', class: 'orange_button' %>

						<script>
							$('#next_button').click(function() {
								$('#next_button').text('Working...');
							});
						</script>
					</div>
				</div>
				<%= render partial: 'schools/vertical_timeline' %>
			</section>
			<!-- END Discover section -->
			
			<!-- REgister section -->
			<section class=" search_section second">
								
				<div class="content_left">
					<div class="logo register" >
						<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-02"></span>
					</div>
					<div class="text">
						<p>
							Once a student's list of schools has been chosen, registration begins by submitting the list and visiting a Welcome Center.
						</p>
						<a class="K" href="#" title="Learn more"  style="margin-bottom:0;">Learn more</a>
					</div>
				</div>
				<!-- timeline info of Register -->
				<div class="content_right">
					<span class="event" style="margin-bottom:39px;">
						<span class="desktop">
							 Jan 6<!--<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-35"></span>--><img class="point" src="/assets/red_point.png" /><br/>
							 <span class="W"> Registration begins</span><br/>
								for K, 6 9
								<br />
								(All other grades: Feb 5th)
							</span>
							<span class="tablette">
								<img class="point_arrow" src="/assets/blue_point_arrow.png" />
							</span>
							
						</span>
						<span class="event Y">
							<span class="desktop">
								Mar - Jul<br/>
							<span class="W">Assignments mailed</span>
						</span>
					</span>
				</div>
				<!--END timeline info of Register -->
			</section>
			<!-- END REgister section -->
			
			<!-- Succeed section -->
			<section class="search_section third">				
				<div class="content_left">
					
					<div class="logo succeed" >
						<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-03"></span>
					</div>
					<div class="text">
						<p>
							Hear from current Boston student who've succeeded in schools across the city. Learn about services and programs offered by Boston Public Schools you never knew existed!
						</p>
						<a class="K" href="#" title="Explore" style="margin-bottom:0;">Explore</a>
					</div>
										
				</div>
				<!--END timeline info of Register -->
				
				<!-- timeline info of Succeed -->
				<div class="content_right">
					
					<span class="event">
						<span class="desktop">
							Sept 4<!--<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-35"></span>--> <img class="point" src="/assets/blue_point.png" /><br/>
							<span class="W" style="font-size:12px;line-height:15px;">
								First day of school!
							</span>
						</span>
					</span>
					
				</div>
				<!--END timeline info of Succeed -->
				
				<!-- last point with star -->
				<img class="final_point" src="/assets/star_point.png" />
								
			</section>
			<!-- END Succeed section -->
		</div>
	</div>
</div>