.close_icon
	%span{aria: {hidden: 'true'}, class: 'icon-DBPS-Dev-Assets-SRG-07'}

.content
	= form_tag verify_address_student_path(student), method: :put, remote: true, 'data-type' => 'script' do
		%h3.dialog_title
			Please verify your student's home address:
		%br/

		#address_matches.selection
			- @addresses.each_with_index do |address, index|
				= render partial: 'students/address/address', locals: {address: address, index: index}
		%br/
		.btn
			= submit_tag 'Next', class: 'orange_submit', id: "addresses_next_button"

:javascript
	$('#addresses_next_button').click(function() {
		$('#addresses_next_button').text('Working...');
	});
	$(".close_icon").click(function() {
		$(".dialog_box").fadeOut("fast").removeClass("active");
	});
	$(".dialog_box").click(function(e){
		e.stopPropagation();
	});
	$('#addresses_next_button').click(function() {
		$('#addresses_next_button').prop('value', 'Working...');
	});
