<div class="wrap">
	<h1>Schools</h1>
	<br />
	<table width="100%">
		<thead>
			<th style="text-align: left;">ID</th>
			<th style="text-align: left;">Name</th>
			<th></th>
		</thead>
		<tbody>
			<% for school in @schools %>
				<tr>
					<td width='80px'><h4><%= school.bps_id %></h4></td>
					<td><h4><%= link_to school.name, admin_school_path(school) %></h4></td>
					<td><%= button_to "Delete", admin_school_path(school), method: 'delete', confirm_with: "Are you sure you want to delete this school and all of its associated data?" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>