.wrap.clearfix
	.account_tab
		= render partial: 'layouts/language_tab'
		= render partial: 'layouts/account_tab'

.wrap.timeline_menu
	%section.logo_header.clearfix
		%nav.menu_nav
			%span{:id => 'menu_nav_mobile', :aria => {hidden: "true"}, :class => "icon-DBPS-Dev-Assets-SRG-25"}

		.logo_discover
			%a{href: "/", class:"no-decoration"}
				%span{:aria => {hidden: "true"}, :class => "icon-DBPS-Dev-Assets-SRG-01"}

		= render partial: 'schools/page_elements/progress_bar', locals: {page_step: page_step}

.clr

:javascript

	$('.menu_item').hover(
		function() {
			$(this)
				.addClass('hovered')
				.find('.menu_box')
				.fadeIn(250);
		}, function() {
			$(this)
				.removeClass('hovered')
				.find('.menu_box')
				.fadeOut(250);
	});

	var is_open_menu_mobile= false;

	$("#menu_nav_mobile").click(function() {

		if (is_open_menu_mobile) {
			// Close mobile
			is_open_menu_mobile= false;

			$("#menu_items").animate({
				height: "0"
				}, 200, function() {
				// Animation complete.
				$(this).css("display", "none");
				$(".menu_nav").width("31px");
				$("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-07" ).addClass( " icon-DBPS-Dev-Assets-SRG-25" );

			});
		 } else {
			// Open mobile
			$(".menu_nav").width("100%");
			is_open_menu_mobile= true;
			$("#menu_items").css("display", "block");
			$('#menu_items').css('height', 'auto');
			var autoHeight = $('#menu_items').height();
			$("#menu_items").css("height", "0");

			$("#menu_items").animate({
				height: autoHeight
				}, 200, function() {
				$('#menu_items').css('height', 'auto');
				$("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-25" ).addClass( " icon-DBPS-Dev-Assets-SRG-07" );
			});
		 }
	});

	window.onresize = function(event) {
		$("#menu_items").css("display", "none");
		$(".menu_nav").width("auto");
		$("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-07" ).addClass( " icon-DBPS-Dev-Assets-SRG-25" );
		is_open_menu_mobile= false;
	}
