.menu_school_lists
  .name_list

    #home_schools_tab.school_list_tab.active
      %span.name
        Home-based
        %span{aria: {hidden: 'true'}, class: "indicator icon-DBPS-Dev-Assets-SRG-08"}

    - if @zone_schools.present?
      #zone_schools_tab.school_list_tab
        %span.name
          Zone-based
          %span{aria: {hidden: 'true'}, class: "indicator icon-DBPS-Dev-Assets-SRG-08"}

    - if current_student.ell_language.present?
      #ell_schools_tab.school_list_tab
        %span.name
          ELL
          %span{aria: {hidden: 'true'}, class: "indicator icon-DBPS-Dev-Assets-SRG-08"}

    - if current_student.sped_needs.present?
      #sped_schools_tab.school_list_tab
        %span.name
          SPED
          %span{aria: {hidden: 'true'}, class: "indicator icon-DBPS-Dev-Assets-SRG-08"}


    :javascript
      $('#home_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#home_schools_tab').addClass("active");
        $('.schools_list').hide();
        $('#home_schools_list').show();
      });
      $('#zone_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#zone_schools_tab').addClass("active");
        $('.schools_list').hide();
        $('#zone_schools_list').show();
      });
      $('#ell_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#ell_schools_tab').addClass("active");
        $('.schools_list').hide();
        $('#ell_schools_list').show();
      });
      $('#sped_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#sped_schools_tab').addClass("active");
        $('.schools_list').hide();
        $('#sped_schools_list').show();
      });
