.menu_compare_name
  %div{class: "f", style: "width: 100%;"}
    .name_list
      - current_user_students.each_with_index do |student, i|
        = render partial: 'schools/page_elements/student_tab', locals: {student: student}

    .add_child
      + Add a child

    :javascript
      $(".compare").click(function(){
        document.location.href='/schools/compare';
        return false;
      });
      $(".add_child").click(function(){
        $('#dialog_box').html("#{escape_javascript(render partial: 'students/address_search')}");
        $('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
        $('#dialog_box').show();
        return false;
      });
