	<div class="wrap ">
		<div class="search">
			<div class="search_section_content "> 			
				<section class="search_section">
					<div class="content_left">
						<div class="content">
							<h3>Please enter your student's home address, name and grade level:</h3>
							<br />
								<%= form_tag students_path, :method => :post, :remote => true do %>

										<!-- Address and zip info -->
									<div class="form_line">
										<input id="street_number" name="[student]street_number" class="bloc_3" type="text" placeholder="Street number" />
										<div class="separation_bloc">
											<div class="separation"></div>
										</div>
										<input id="street_name" name="[student]street_name" class="bloc_4" type="text" placeholder="Street name" />
										<div class="separation_bloc">
											<div class="separation"></div>
										</div>
											<input id="zipcode" name="[student]zipcode" class="bloc_2" type="text" placeholder="ZIP" />
												
											<div class="clr"></div>
										</div>
										<!--END  Address and zip info -->
										<div class="form_line">                    	
											<input id="first_name" name="[student]first_name" class="bloc_3" type="text" placeholder="Student's first name" />
											<div class="separation_bloc">
												<div class="separation"></div>
											</div>
											<input id="last_name" name="[student]last_name" class="bloc_4" type="text" placeholder="Last name" />
											<div class="separation_bloc">
												<div class="separation"></div>
											</div>
											<div class="bloc_2 select_grade" >
												<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
												<span id="grade_level_placeholder">Grade</span>
												<div class='option_grade'>
													<div class='btn_grade'>K0</div>
													<div class='btn_grade'>K1</div>
													<div class='btn_grade'>K2</div>
													<div class="clr"></div>
													<div class='btn_grade'>1</div>
													<div class='btn_grade'>2</div>
													<div class='btn_grade'>3</div>
													<div class='btn_grade'>4</div>
													<div class='btn_grade'>5</div>
													<div class="clr"></div>
													<div class='btn_grade'>6</div>
													<div class='btn_grade'>7</div>
													<div class='btn_grade'>8</div>
													<div class="clr"></div>
													<div class='btn_grade'>9</div>
													<div class='btn_grade'>10</div>
													<div class='btn_grade'>11</div>
													<div class='btn_grade'>12</div>
													<div class="clr"></div>
												</div>
												<%= hidden_field_tag "[student]grade_level", '' %>
											</div>      
											<div class="clr"></div>
										</div>
										<script>
											$('.btn_grade').click(function() {
												$('#grade_level_placeholder').html(this.innerText);
												$('#_studentgrade_level').val(this.innerText);
											});
										</script>

									<!-- NEXT and Sibling school buttons -->
									<div class="form_line">
										<div class="bloc_6 portrait">
											<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
											<input type="text" placeholder="Set Sibling's school" />
											<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
										</div>
										<div id="search_form_submit" class="bloc_5">
											<%= submit_tag 'Next', disable_with: 'Working...', class: 'orange_submit' %>
										</div>
<!-- 										<div class="bloc_6">
											<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
											<input id="sibling_school_autocomplete" name="[student]sibling_school_name" type="text" placeholder="Set Sibling's school" />
											<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
										</div>
										<div class="clr"></div>
									</div>
									<script>
										$(function() {
											var schoolNames = <%= raw School.all.collect {|x| x.name} %>;
											$( "#sibling_school_autocomplete" ).autocomplete({
												source: schoolNames,
												minLength: 2,
												messages: {
													noResults: '',
													results: function() {}
												}
											});
										});
									</script>
 -->							<% end %>
						</div>		 
					</div>
				</section>
				</div>
		</div>
	</div>
