	<div id="close_icon"><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-07"></span></div>
	<div class="wrap ">
		<div class="search">
			<div class="search_section_content "> 			
				<section class="search_section">
					<div class="content_left">
						<div class="content">
							<% if defined?(student) && student.present? %>
								<h3>To edit your student's information, please modify the form fields below and click next:</h3>
								<br />
								<%= form_tag student_path(student), :method => :put, :remote => true do %>
									<%= render partial: 'schools/dialog_boxes/edit_address_search_form', locals: {student: student} %>
								<% end %>
							<% else %>
								<h3>Please enter your student's home address, name and grade level:</h3>
								<br />
								<%= form_tag students_path, :method => :post, :remote => true do %>
									<%= render partial: 'schools/dialog_boxes/new_address_search_form' %>
								<% end %>
							<% end %>
						</div>
					</div>
				</section>
				</div>
		</div>
	</div>
	<script>	
	$( document ).ready(function() {
		$("#close_icon").click(function() {
			$(".dialog_box").fadeOut("fast").removeClass("active");
		});
		$(".dialog_box").click(function(e){
	  	e.stopPropagation();
		});
	});
</script>
