<div class='row' id="address_matche_row_#{index}">
	<%= address[:StreetNum] %> <%= address[:Street].try(:titleize) %> <%= address[:ZipCode] %>
	<% if index == 0 %>
		<span class='icon_selected icon-DBPS-Dev-Assets-SRG-42 ' ></span>
	<% end %>
</div>