<div id="close_icon"><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-07"></span></div>
<!-- dialog select address matches -->
<div class='content'>
	<h3>
		Please complete the following <%= pluralize(student.errors.count, "field") %>:
	</h3>
	<br />
	<ul>
  	<% student.errors.full_messages.each do |msg| %>
  		<li><%= msg %></li>
  	<% end %>
	</ul>
</div>
<script>	
	$( document ).ready(function() {
		$("#close_icon").click(function() {
			$(".dialog_box").fadeOut("fast").removeClass("active");
		});
		$(".dialog_box").click(function(e){
	  	e.stopPropagation();
		});
	});
</script>