<div class="close_icon"><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-07"></span></div>
<!-- dialog hello -->
<div class='content'>
	<div class='actions'>
		<div id="reset_password_form">
			<span class='txt_login'>Reset your password:</span>
			<p>Please enter your email address below. You will receive an email with instructions on resetting your password.</p>

			<%= form_for(:user, :as => 'user', :url => password_path(:user), :html => {:id => "reset_password", :method => :post }, :format => :json, :remote => true ) do |f| %>

				<div class='input_box'>
					<%= f.email_field :email, placeholder: 'Email address' %>

					<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
					<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
				</div>

				<div class="signup"><%= image_submit_tag('/assets/buttons/submit.jpg') %></div>
			<% end %>

		</div>
		
		<div id="login_error" style="display:none;color:red;"></div>
		<div id="login_success" style="display:none;"></div>

	</div>

	<div class='clr'></div>
</div>
<script>
	$("form#reset_password").bind("ajax:success", function(e, data, status, xhr) {
	  if (data.success) {
	  	$('#reset_password_form').hide();
	  	$('#login_success').html("<h1>Reset Instructions Sent</h1><p>You will receive an email shortly with instructions on how to reset your password.</p>").show();
	  } else {
	  	$('#reset_password_form').show();
	    $('#login_error').html("Sorry, we couldn't find that email address. Please try another address or sign up for a new account.").show();
	  }
	});

	$(".close_icon").click(function() {
		$(".dialog_box").fadeOut("fast").removeClass("active");
	});
	$(".dialog_box").click(function(e){
  	e.stopPropagation();
	});
</script>