<div id='forgot_panel' class='action_box save_box' style="display:none;">
	<div class='actions'>
		<div id="reset_password_form">
			<span class='txt_login'>Reset your password:</span>
			<p class='note_login'>
				Please enter your email address
				<br />below. You will receive an email with
				<br />instructions on resetting your
				<br />password.<br /><br /></p>

			<%= form_for(:user, :as => 'user', :url => password_path(:user), :html => {:id => "reset_password", :method => :post }, :format => :json, :remote => true ) do |f| %>
				<div class='btn input_box'>
					<%= f.email_field :email, placeholder: 'Email address' %>

					<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
					<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
				</div>

				<div class="signup"><%= image_submit_tag('/assets/buttons/submit.jpg') %></div>
			<% end %>
			<br />
			<br />
			<br />
			<br />
		</div>
		
		<div id="login_error" style="display:none;color:red;"></div>
		<div id="login_success" style="display:none;color:green;"></div>

	</div>

	<div class='clr'></div>
</div>

<script>
	$("form#reset_password").bind("ajax:success", function(e, data, status, xhr) {
	  if (data.success) {
	  	$('#reset_password_form').hide();
	    $('#login_success').html("A password reset email was sent.<br />Please check your email for instructions.<br /><br />").show();
	  } else {
	  	$('#reset_password_form').hide();
	    $('#login_error').html("Sorry, we couldn't find that email address. Please try another address or sign up for a new account.").show();
	  }
	});
</script>