<div class="wrap">
  <!-- menu with compare button, student's name button and add_child button -->
  <div class="menu_school_lists">
    <div class="name_list">
      <% if @home_schools.present? %>
        <div class="school_list_tab active" id="home_schools_tab">
          <span class="name">
            Home-based
            <span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span>
          </span>
          <div class="clr"></div>
        </div>
      <% end %>
      <% if @zone_schools.present? %>
        <div class="school_list_tab" id="zone_schools_tab">
          <span class="name">
            Zone-based
            <span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span>
          </span>
          <div class="clr"></div>
        </div>
      <% end %>
      <% if @ell_schools.present? %>
        <div class="school_list_tab" id="ell_schools_tab">
          <span class="name">
            ELL
            <span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span>
          </span>
          <div class="clr"></div>
        </div>
      <% end %>
      <% if @sped_schools.present? %>
        <div class="school_list_tab" id="sped_schools_tab">
          <span class="name">
            SPED
            <span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span>
          </span>
          <div class="clr"></div>
        </div>
      <% end %>
    </div>
    <div class="clr"></div>

    <script>
      $('#home_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#home_schools_tab').addClass("active");
        $('li.list_row').hide();
        $('li.home_school').show();
      });
      $('#zone_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#zone_schools_tab').addClass("active");
        $('li.list_row').hide();
        $('li.zone_school').show();
      });
      $('#ell_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#ell_schools_tab').addClass("active");
        $('li.list_row').hide();
        $('li.ell_school').show();
      });
      $('#sped_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#sped_schools_tab').addClass("active");
        $('li.list_row').hide();
        $('li.sped_school').show();
      });
    </script>

  </div>
  <!-- END menu with compare button, student's name button and add_child button -->
</div>
