<div class="menu_compare_name">
  <div class="f" style="width:100%;">
    <div class="name_list">
      <% current_user_students.each_with_index do |student, i| %>
        <%= render partial: 'schools/student_tab', locals: {student: student} %>
      <% end %>
    </div>
    <div class="add_child" >
      + Add a child
    </div>
    <script>
      $(".compare").click(function(){
        document.location.href='/schools/compare';
        return false;
      });
      $(".add_child").click(function(){
        $('#dialog_box').html("<%= escape_javascript(render partial: 'students/address/address_search') %>");
        $('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
        $('#dialog_box').show();
        return false;
      });
    </script>
  </div>
</div>
