<div id="placeholder" class="wrap ">
	<div id="placeholder_title" class="content_wrap center">
		<h1 style="color: white; font-size: 56px; line-height: 56px;">DiscoverBPS.org will return<br />on November 1, 2013 <br />at 2:30pm.</h1>
		<br />
		<br />
		<span style="color: #FFFF00; font-size: 16px; line-height: 21px;">
			In the meantime, if you would like to explore your list of school<br /> choices for the 2013-2014 school year, please visit <a href="https://apps.mybps.org/ExternalWeb/home.aspx">What Are My School Choices?</a><br />
			For all other inquiries, please visit <a href="http://www.bostonpublicschools.org">bostonpublicschools.org</a>
		</span>
	</div>
</div>

<script>
	var resizeDiv;

	resizeDiv = function() {
		var percent, vph, vpw;
		vpw = $(window).width();
		vph = $(window).height();
		percent = vph * 0.25;
		$("#placeholder").css({
			height: (vph - 135) + "px"
		});
		return $("#placeholder_title").css({
			"padding-top": percent + "px"
		});
	};

	$(document).ready(function() {
		return resizeDiv();
	});

	window.onresize = function(event) {
		return resizeDiv();
	};
</script>
