
	<div id='dialog_box' class='dialog_box dialog_box_dicover' style='display:none;'>
	</div>
	
	
	<div class="wrap ">
		<div class="content_wrap">
			<!--languages selection and his list-->
			<ul class='languages'>
				<li>
					<div class='current_language'><span data-icon="&#xe003;" aria-hidden="true"></span>English</div>
					<div class='clr'></div>
					<ul >
						<li><a href='#' class='language'>Español</a></li>
						<li><a href='#' class='language'>Kreyòl Ayisyen</a></li>
						<li><a href='#' class='language'>中文</a></li>
						<li><a href='#' class='language'>Português</a></li>
						<li><a href='#' class='language'>Kriolu Kabuverdianu</a></li>
						<li><a href='#' class='language'>Tiếng Việt</a></li>
						<li><a href='#' class='language'>Français</a></li>
						<li><a href='#' class='language'><span data-icon="&#xe003;" aria-hidden="true"></span>Other</a></li>
					</ul>
				</li>
			</ul>
			<!--END list-->
		</div>
	</div>
	<div class="wrap ">
		<div class="content_wrap search">
					<!-- account button ans his listing-->
			<div class="account_box">
				<div class="btn_account">Account<span class='icon_excla'></span></div>
				<!-- Start section menu account -->
				<div class='account_menu_box font_15'>
					<!-- Start menu account -->
					<div class='menu'>
					
						<div class='box'>
							<span>My lists</span>
							<a href='#'>View</a>
							<a href='#'>Download</a>
							<a href='#'>Print</a>
							<a href='#'>Share via email</a>
							<a id='btn_save' href='#'>Save <div class='icon' data-icon="&#xe001;" aria-hidden="true"></div></a>
						</div>
						<div class='mobile_only box list_child'>
							<span>&nbsp;</span>
							<a class='child' href='#'>Elizabeth</a>
							<a class='child' href='#'>Tommy</a>
							<a href='#'>+ Add a child</a>
						</div>
						<div class='clr box last'>
							<span>Account</span>
							<a href='#'>Sign Up</a>
							<a href='#'>Setting</a>
							<a href='#'>Login</a>
							<a href='#'>Logout</a>
						</div>
						<div class='clr'></div>
					</div>
					<!-- End menu account -->
					
					<!-- Start save box -->
					<div class='action_box save_box' style='display:none;'>
						<div class='actions'>
							<span class='txt_join_list' style='display:none;'>Join to save your lists:</span>
							<span class='txt_login'>Log in with:</span>
							
							<div class='btn first facebook'>Facebook<span class='icon' data-icon="&#xe019;" aria-hidden="true"></span></div>
							<div class='btn twitter'>Twitter <span class='icon' data-icon="&#xe018;" aria-hidden="true"></span></div>
							<form method='' action='' name=''>
								<div class='btn input_box'>
									<input type='email' name='email' placeholder="Email address"/>

									<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
									<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
								</div>
								<div class='btn input_box'>
									<input type='password' name='password' placeholder="Password"/>

									<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
									<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
								</div>
								<div class='btn create_box'>Create account</div>
															
								<a href='#' class='btn_login txt_btn_login' style='display:none;'>Log in<span class='note_login'>if you've already registered</span></a>
								<a href='#' class='btn_login txt_btn_sign_up'>Sign up<span class='note_login'>if you haven't yet</span></a>
								
								<div class='clr'></div>
							</form>
						</div>
						<div class='clr'></div>
					</div>
					<!-- End save box -->
					
					<!-- Start register box -->
					<div class='action_box register_box' style='display:block;'>
						<div class='actions'>
							<span class='text'>Registration Checklist:</span><br/>
							<label><input type='checkbox' name='register_check_bpsexpress' value='BPSExpress'/>Submit your lists to <a href='#'>BPSExpress</a></label><br/>
							<span class='warning'>Available soon!</span><br/>
							<label><input type='checkbox' name='register_check_required_documents' value='required documents'/>Collect the <a href='#'>required documents</a></label><br/>
							<label><input  type='checkbox' name='register_check_welcome_center' value='Welcome Center'/>Visit to a <a href='#'>Welcome Center</a></label>		
						</div>
						<div class='clr'></div>
					</div>
					<!-- End register box -->
					
					<div class='clr'></div>
				</div>
				<!-- Start section menu account -->
			</div>
			<!--END account button ans his listing-->

			<!-- script account button-->
			<script>
			$(document).ready(function(){
				if(!Modernizr.input.placeholder) {
					$("input[placeholder]").each(function() {
						var placeholder = $(this).attr("placeholder");

						$(this).val(placeholder).focus(function() {
							if($(this).val() == placeholder) {
								$(this).val("")
							}
						}).blur(function() {
							if($(this).val() == "") {
								$(this).val(placeholder)
							}
						});
					});
				} // Modernizr placeholder
			});

			$(document).ready(function(){
				/*var is_open_menu_account= false;
				$(".btn_account").click(function() {
					 if (is_open_menu_account) {
						// Close box
						is_open_menu_account= false;
					
						$(".account_menu_box").css("display", "none");
						$(".register_box").css("display", "none");
				
					 } else {
						// Open box
						is_open_menu_account= true;
						$(".account_menu_box").css("display", "block");
						$(".register_box").css("display", "block");
						$(".save_box").css("display", "none");
						//$(".account_menu_box").width("410");
					 }
					 
					 return false;
				});*/
				
				
				var is_open_save_box= false;
				$("#btn_save").click(function() {
					 if (is_open_save_box) {
						// Close box
						is_open_save_box= false;
					
						$(".save_box").css("display", "none");
						$(".account_menu_box").width("auto");
				
					 } else {
						// Open box
						is_open_save_box= true;
						//console.log("open box");
						$(".save_box").css("display", "block");
						$(".register_box").css("display", "none");
						//$(".account_menu_box").width("410");
					 }
					 
					 return false;
				});

				$('.btn_grade').click(function() {
					$('#grade_level_placeholder').html(this.innerText);
					$('#_searchgrade_level').val(this.innerText);				
				});
			});

			</script>
			<!-- END script account button-->
					<div class="search_header">
						<div class="title_bloc">
					<h1>Welcome to Boston Public Schools Registration</h1>
					<img class="logo_beta" src="assets/logo_beta.png" alt="beta"/>
						</div>
				<p>We provide these resources for parents and guardians to learn about our schools and enroll their children, including both those new to Boston and current students moving on to their next school.</p>
								<p class="small_text tablet">Looking for the 2013-2014 school year?</p>
				
						 </div>
						<div class="search_section_content "> 
						 
							<!-- ADD CLASS "RIGHT" TO MOVE THE TODAY INDICATOR TO RIGHT OF THE TIME LINE, OR "LEFT" TO MOVE TO THE LEFT  FOR LARGEUR OF TABLET SIZE -->
							<!-- AND change the top % to ajust the today up or down -->
							<div class="today right" style="top:10%;">
								<span aria-hidden="true" class="right icon-DBPS-Dev-Assets-SRG-30"></span>&nbsp; Today &nbsp;<span aria-hidden="true" class="left icon-DBPS-Dev-Assets-SRG-32"></span>
								<span class="yello_line"></span>
							</div> 
							<!-- END today indicator-->
							
							<!-- Discover section -->
				<section class="search_section first">
					<p class="small_text no_tablet">Looking for the 2013-2014 school year?</p>				
					<div class="content_left">
						
						<div class="logo discover" >
							<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-01"></span>
						</div>
						<div class="text">
							<p>The first step in the registration for any parent, guardian or student is to learn about the process and explore the eligible schools.</p>
							<p>Many personal factors influence which schools will be good fits for each individual student. By filling out the simple form below, we can guide you on the registration process personalized to your family.</p>
							<p class="K">To get started, enter your home address and your student's name and grade level in the form below:</p>
								
								<%= form_tag searches_path, :method => :post, :remote => true do %>

										<!-- Address and zip info -->
									<div class="form_line">
										<input id="street_number" name="[search]street_number" class="bloc_3" type="text" placeholder="Street number" />
										<div class="separation_bloc">
											<div class="separation"></div>
										</div>
										<input id="street_name" name="[search]street_name" class="bloc_4" type="text" placeholder="Street name" />
										<div class="separation_bloc">
											<div class="separation"></div>
										</div>
											<input id="zipcode" name="[search]zipcode" class="bloc_2" type="text" placeholder="ZIP" />
													
												<!-- Use current location button -->
												<div class="current_location btn">
													<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-37"></span>
														<span class="text">
															Use current location
														</span>
												</div>
												<!-- END  Use current location button -->
												
													<div class="clr"></div>
										</div>
										<!--END  Address and zip info -->
										
										<!-- Student info -->
										<div class="form_line">                    	
											<input id="first_name" name="[search]first_name" class="bloc_3" type="text" placeholder="Student's first name" />
											<div class="separation_bloc">
												<div class="separation"></div>
											</div>
											<input id="last_name" name="[search]last_name" class="bloc_4" type="text" placeholder="Last name" />
											<div class="separation_bloc">
												<div class="separation"></div>
											</div>
											<div class="bloc_2 select_grade" >
												<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
												<span id="grade_level_placeholder">Grade</span>
												<div class='option_grade'>
													<div class='btn_grade'>K0</div>
													<div class='btn_grade'>K1</div>
													<div class='btn_grade'>K2</div>
													<div class="clr"></div>
													<div class='btn_grade'>1</div>
													<div class='btn_grade'>2</div>
													<div class='btn_grade'>3</div>
													<div class='btn_grade'>4</div>
													<div class='btn_grade'>5</div>
													<div class="clr"></div>
													<div class='btn_grade'>6</div>
													<div class='btn_grade'>7</div>
													<div class='btn_grade'>8</div>
													<div class="clr"></div>
													<div class='btn_grade'>9</div>
													<div class='btn_grade'>10</div>
													<div class='btn_grade'>11</div>
													<div class='btn_grade'>12</div>
													<div class="clr"></div>
												</div>
												<%= hidden_field_tag '[search]grade_level', '' %>
											</div>      
																	
															<div class="add_child btn">
																<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-10"></span>
																	<span class="text">
																		Add another child
																	</span>
															</div>
															<div class="clr"></div>
														</div>
														<!--END  Student info -->
														
														<!-- NEXT and Sibling school buttons -->
														<div class="form_line">
																<div class="bloc_6 portrait">
																	<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
																		<input type="text" placeholder="Set Sibling's school" />
																		<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
																	</div>
																	<div id="search_form_submit" class="bloc_5">
																	<input type="image" src="assets/btn_next.jpg" alt="Submit" />
																	</div>
																<div class="bloc_6">
																	<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
																		<%= hidden_field_tag '[search]sibling_school_id', '' %>
																		<input id="sibling_school_typeahead" name="[search]sibling_school_name" type="text" placeholder="Set Sibling's school" />
																		<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
																	</div>
																	
																
																	<div class="clr"></div>
														</div>
														<script>
															$(function() {
																var availableTags = <%= raw School.all.collect {|x| {label: x.name, id: x.bps_id}}.to_json %>;
																$( "#sibling_school_typeahead" ).autocomplete({
																	source: availableTags,
																	minLength: 2,
																	select: function (event, ui) {
																		$("#sibling_school_name").val(ui.item.label); // display the selected text
																		$("#_searchsibling_school_id").val(ui.item.id); // save selected id to hidden input
																	},
																	messages: {
																		noResults: '',
																		results: function() {}
																	}
																});
															});
														</script>
														<!--END    NEXT and Sibling school buttons -->
												<% end %>
						</div>
										 
					</div>
					<!-- timeline info of Discover -->
					<div class="content_right">
						
						<span class="event first" style="margin-bottom:37px;">
												REGISTRATION TIMELINE <span aria-hidden="true" class="start_point icon-DBPS-Dev-Assets-SRG-35"></span>
											</span>
											<span class="event Y">
												<span class="desktop">
								Discover schools
												</span>
												<span class="tablette">
													<img class="point" src="assets/yellow_point.png" />
												</span>
											</span>
											<span class="event Y">
												<span class="desktop">
								Compare options
							</span>
												<span class="tablette">
													<img class="point" src="assets/yellow_point.png" />
												</span>
											</span>
											<span class="event">
												<span class="desktop">
								Nov 1<br/>
								<span class="W" style="font-size:12px;line-height:15px;">
															School Previews and<br/>
									School Showcases start
														</span>
												</span>
												<span class="tablette">
													<img class="point_arrow" src="assets/blue_point_arrow.png" />
												</span>
											</span>
											<span class="event y">
												<span class="desktop">
								Create your list
							</span>
												<span class="tablette">
													<img class="point" src="assets/yellow_point.png" />
												</span>
											</span>
											<span class="event last">
												<span class="desktop">
								Dec 15<br/>
								<span class="W">Pre-register</span>
							</span>
												<span class="tablette">
													<img class="point" src="assets/blue_point_white.png" />
												</span>
											</span>
						
					</div>
					<!--END  timeline info of Discover -->
					
				</section>
				<!-- END Discover section -->
				
				<!-- REgister section -->
				<section class=" search_section second">
									
					<div class="content_left">
						<div class="logo register" >
							<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-02"></span>
						</div>
						<div class="text">
							<p>Once a student's list of schools has been chosen, registration begins by submitting the list and visiting a Family Rsource Center.
													</p>
													<a class="K" href="#" title="Learn more"  style="margin-bottom:0;">Learn more</a>
						</div>
					</div>
					<!-- timeline info of Register -->
					<div class="content_right">
											<span class="event" style="margin-bottom:39px;">
												<span class="desktop">
													 Jan 3<!--<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-35"></span>--><img class="point" src="assets/red_point.png" /><br/>
													 <span class="W"> Registration begins</span><br/>
														for K 6 
												</span>
												<span class="tablette">
													<img class="point_arrow" src="assets/blue_point_arrow.png" />
												</span>
													
											</span>
											<span class="event Y">
												<span class="desktop">
								Mar - Jul<br/>
														<span class="W">Assignments mailed</span>
												</span>
											</span>
					</div>
					<!--END timeline info of Register -->
				</section>
				<!-- END REgister section -->
				
				
				
				<!-- Succeed section -->
							<section class="search_section third">				
					<div class="content_left">
						
						<div class="logo succeed" >
							<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-03"></span>
						</div>
						<div class="text">
							<p>Hear from current Boston student who've succeeded in schools across th city. Learn about services and programs offered by Boston Public Schools you never knew existed!
													</p>
													<a class="K" href="#" title="Explore" style="margin-bottom:0;">Explore</a>
						</div>
											
					</div>
					<!--END timeline info of Register -->
					
					<!-- timeline info of Succeed -->
					<div class="content_right">
						
						<span class="event">
							<span class="desktop">
								Jan 3<!--<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-35"></span>--> <img class="point" src="assets/blue_point.png" /><br/>
								<span class="W" style="font-size:12px;line-height:15px;">
															First day of school!
														</span>
							</span>
											</span>
						
					</div>
					<!--END timeline info of Succeed -->
					
					<!-- last point with star -->
									<img class="final_point" src="assets/star_point.png" />
									
				</section>
				<!-- END Succeed section -->
						</div>
		</div>
	</div>
