<div class="wrap timeline_menu">
	<!-- start timeline -->
	<div class="timeline">
		<div class="months">
			<div class="month">Oct 2013</div>
			<div class="month">Nov</div>
			<div class="month">Dec</div>
			<div class="month">Jan 2014</div>
			<div class="month">Feb</div>
			<div class="month">Mar</div>
			<div class="month">Apr</div>
			<div class="month">May</div>
			<div class="month">Jun</div>
			<div class="month">Jul</div>
			<div class="month">Aug</div>
			<div class="month last">Sep</div>
		</div>	
		
		<div class="day_indicator"  style="left:20%;">
			<span class="text">Today</span>
		</div>
		
		<div class="event_indicator"  style="left:15%;"><span class='icon-DBPS-Dev-Assets-SRG-38'></span></div>
		<div class="event_indicator"  style="left:18%;"><span class='icon_horizontal-event'></span></div>
		<div class="event_indicator"  style="left:46%;"><span class='icon_horizontal-event'></span></div>
		<div class="event_indicator"  style="left:52%;"><span class='icon-DBPS-Dev-Assets-SRG-38'></span></div>
		<div class="event_indicator"  style="left:92%;"><span class='icon_horizontal-event'></span></div>
		
		<div id="registration_contaner">
			<div id="registration_btn">
				Registration
			</div>
			<div class="clr"></div>
			<div class='register_timeline_contaner' style='display:none; '>
				<div class='event_zone' id='regis_1' style='left:0%;'>
					<div class='event'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>
				<div class='event_zone' id='regis_2' style='left:6%;'>
					<div class='event'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>
				<div class='event_zone' id='regis_3' style='left:14%;'>
					<div class='event'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>
				<div class='event_zone' id='regis_4' style='left:22%;'>
					<div class='event your_registration_period'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>
				<div class='event_zone' id='regis_5' style='left:30%;'>
					<div class='event'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>
				
				<div class='event_zone' id='regis_6' style='left:45%;'>
					<div class='event'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>

				
			</div>

		</div>
	</div>
	<!-- end timeline -->
	
	<!--  navigation menu desktop and mobile -->
	<section class="content_wrap ">
		<nav class="menu_nav">
			<span id="menu_nav_mobile" aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-25"></span>
			<ul id="menu_items" class='mobile_only'>
				<li class='first'><a href="#" title="">Discover</a></li>
				<li><a href="#" title="">Register</a></li>
				<li><a href="#" title="">Succeed!</a></li>
				<li class='languages_mobile'>
					<a href="#" title="">languages <span data-icon="&#xe003;" aria-hidden="true"></span></a>
					<ul class='list_languages'>
						<li><a href='#' class='language current_language'>English</a></li>
						<li><a href='#' class='language'>Español</a></li>
						<li><a href='#' class='language'>Kreyòl Ayisyen</a></li>
						<li><a href='#' class='language'>??</a></li>
						<li><a href='#' class='language'>Português</a></li>
						<li><a href='#' class='language'>Kriolu Kabuverdianu</a></li>
						<li><a href='#' class='language'>Ti?ng Vi?t</a></li>
						<li><a href='#' class='language'>Français</a></li>
						<li><a href='#' class='language'><span data-icon="&#xe003;" aria-hidden="true"></span> Other</a></li>
					</ul>
				</li>
				<li class='visit'><a href='http://www.BostonPublicSchools.org'>Visit BostonPublicSchools.org</a></li>
			</ul>
			<ul class='no_mobile'>
				<li class="succeed"><a href="#" title=""><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-05"></span></a></li>
				<li class="register"><a href="#" title=""><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-06"></span></a></li>
			</ul>
		</nav>
		<div class="logo_discover" >
			<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-01"></span>
		</div>
		<div class="clr"></div>
	</section>
	<!-- end navigation menu desktop and mobile -->
	<div class="clr"></div>
</div>

<!-- script for timeline and registration -->
<script>


var is_open_menu_mobile= false;

$("#menu_nav_mobile").click(function() {

	if (is_open_menu_mobile) {
		// Close mobile
		is_open_menu_mobile= false;
		
		$("#menu_items").animate({
			height: "0"
		  }, 200, function() {
			// Animation complete.
			$(this).css("display", "none");
			$(".menu_nav").width("31px");
			$("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-07" ).addClass( " icon-DBPS-Dev-Assets-SRG-25" );
		
		});
	 } else {
		// Open mobile
		$(".menu_nav").width("100%");	
		is_open_menu_mobile= true;
		$("#menu_items").css("display", "block");
		$('#menu_items').css('height', 'auto');
		var autoHeight = $('#menu_items').height();
		$("#menu_items").css("height", "0");
		
		$("#menu_items").animate({
			height: autoHeight
		  }, 200, function() {
			$('#menu_items').css('height', 'auto');
			$("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-25" ).addClass( " icon-DBPS-Dev-Assets-SRG-07" );
		});
	 }
});


function initializeRegistrationTimeline() {


	// Ex. (2 1/3) months approximate
	$("#registration_contaner").width(Math.floor((2.333*$(".months .month").outerWidth())));

	
	
	
	// Ex. 2 days approximate
	$("#regis_1").width(2*($(".months .month").outerWidth()/30));

	// Ex. 4 days approximate
	$("#regis_2").width(4*($(".months .month").outerWidth()/30));
	$("#regis_3").width(4*($(".months .month").outerWidth()/30));
	$("#regis_4").width(4*($(".months .month").outerWidth()/30));
	$("#regis_5").width(4*($(".months .month").outerWidth()/30));


	$("#regis_6").width(37*($(".months .month").outerWidth()/30));
	

	var arr= jQuery.makeArray($(".months .month"));
	console.log($($(".months .month")[3]).width());

	
	// Set position registration_contaner on 1 January
	// 3 is position January
	var position = $($(".months .month")[3]).position();
	$("#registration_contaner").css("left",position.left)
}


initializeRegistrationTimeline();

window.onresize = function(event) {
	initializeRegistrationTimeline();
	$("#menu_items").css("display", "none");
	$(".menu_nav").width("auto");
	$("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-07" ).addClass( " icon-DBPS-Dev-Assets-SRG-25" );
	is_open_menu_mobile= false;
}

$(".event_zone").hover(
	function() {
		// Position the box in the center of the event.
		$(this).find(".box_info").css("left", -( ($(".box_info").outerWidth()/2) - ($(this).width()/2) )+"px");
		$(this).find(".box_info").css("display", "block");
	},
	function () {
		$(this).find(".box_info").css("display", "none");
		
	}
 );

 /*
var is_open_register_contaner= false;
$("#registration_btn").click(function() {
	 if (is_open_register_contaner) {
		// Close contaner
		is_open_register_contaner= false;
		$(".register_timeline_contaner").css("display", "none");
		$(".wrap.timeline_menu .timeline").stop(true, true).animate({
			height: "80"
		  }, 100, function() {
			// Animation complete.
		  });
	 } else {
		// Open contaner
		$(".wrap.timeline_menu .timeline").stop(true, true).animate({
			height: "175"
		  }, 100, function() {
			// Animation complete.
		  });
		is_open_register_contaner= true;
		$(".register_timeline_contaner").css("display", "block");
	 }
	 
	 return false;
});*/


$(".timeline").hover(
	function() {
		$(".wrap.timeline_menu .timeline").stop(true, true).animate({
			height: "175"
		  }, 100, function() {
			// Animation complete.
		  });
		$(".register_timeline_contaner").css("display", "block");
	}, 
	function() {
		$(".register_timeline_contaner").css("display", "none");
		$(".wrap.timeline_menu .timeline").stop(true, true).animate({
			height: "80"
		  }, 100, function() {
			// Animation complete.
		  });
	}
);
</script>
<!-- END script for timeline and registration -->

<div class="wrap global_map">
	<img class="bg_g5" src="img/bg_g5.png" />
	<!-- students menu -->
	<div class="menu_student_info ">
		
		<div class="name_list">
			<div class="name_info active" id="name_1">
				<span class="name">Elizabeth <span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span> </span>
				<span class="grade">Grade<br/><span class="number">3</span></span>
				<div class="clr"></div>
			</div>
			<div class="student_info">
				<span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-33"></span> <span class="text_G2">64 Central Square, Boston 02113</span><br/>
				<span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-12"></span> Sibling School: <span class="text_G2">Eliot K-8</span><br/><br/>
				
				Preferences:<br/>
				<span aria-hidden="true" class=" icon-DBPS-Dev-Assets-SRG-35"></span> School Start Time:<span class="text_G2"> 7:30</span><br/>
				<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-35"></span> Enrollment: <span class="text_G2">Small</span><br/>
				<span aria-hidden="true" class=" icon-DBPS-Dev-Assets-SRG-35"></span> Facility Features: <span class="text_G2">Swimming Pool, Gym</span><br/>
			</div>
			
		</div>	
			
		<div class="clr"></div>
		
	</div>
	<!-- END students menu -->
	
<section class="content_wrap">
  	<!-- account button ans his listing-->
		<div class="account_box">
			<div class="btn_account">Account<span class='icon_excla'></span></div>
			<!-- Start section menu account -->
			<div class='account_menu_box font_15'>
				<!-- Start menu account -->
				<div class='menu'>
				
					<div class='box'>
						<span>My lists</span>
						<a href='#'>View</a>
						<a href='#'>Download</a>
						<a href='#'>Print</a>
						<a href='#'>Share via email</a>
						<a id='btn_save' href='#'>Save <div class='icon' data-icon="&#xe001;" aria-hidden="true"></div></a>
					</div>
					<div class='mobile_only box list_child'>
						<span>&nbsp;</span>
						<a class='child' href='#'>Elizabeth</a>
						<a class='child' href='#'>Tommy</a>
						<a href='#'>+ Add a child</a>
					</div>
					<div class='clr box last'>
						<span>Account</span>
						<a href='#'>Sign Up</a>
						<a href='#'>Setting</a>
						<a href='#'>Login</a>
						<a href='#'>Logout</a>
					</div>
					<div class='clr'></div>
				</div>
				<!-- End menu account -->
				
				<!-- Start save box -->
				<div class='action_box save_box' style='display:none;'>
					<div class='actions'>
						<span class='txt_join_list' style='display:none;'>Join to save your lists:</span>
						<span class='txt_login'>Log in with:</span>
						
						<div class='btn first facebook'>Facebook<span class='icon' data-icon="&#xe019;" aria-hidden="true"></span></div>
						<div class='btn twitter'>Twitter <span class='icon' data-icon="&#xe018;" aria-hidden="true"></span></div>
						<form method='' action='' name=''>
							<div class='btn input_box'>
								<input type='email' name='email' placeholder="Email address"/>

								<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
								<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
							</div>
							<div class='btn input_box'>
								<input type='password' name='password' placeholder="Password"/>

								<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
								<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
							</div>
							<div class='btn create_box'>Create account</div>
														
							<a href='#' class='btn_login txt_btn_login' style='display:none;'>Log in<span class='note_login'>if you've already registered</span></a>
							<a href='#' class='btn_login txt_btn_sign_up'>Sign up<span class='note_login'>if you haven't yet</span></a>
							
							<div class='clr'></div>
						</form>
					</div>
					<div class='clr'></div>
				</div>
				<!-- End save box -->
				
				<!-- Start register box -->
				<div class='action_box register_box' style='display:block;'>
					<div class='actions'>
						<span class='text'>Registration Checklist:</span><br/>
						<label><input type='checkbox' name='register_check_bpsexpress' value='BPSExpress'/>Submit your lists to <a href='#'>BPSExpress</a></label><br/>
						<span class='warning'>Available soon!</span><br/>
						<label><input type='checkbox' name='register_check_required_documents' value='required documents'/>Collect the <a href='#'>required documents</a></label><br/>
						<label><input  type='checkbox' name='register_check_welcome_center' value='Welcome Center'/>Visit to a <a href='#'>Welcome Center</a></label>		
					</div>
					<div class='clr'></div>
				</div>
				<!-- End register box -->
				
				<div class='clr'></div>
			</div>
			<!-- Start section menu account -->
		</div>
		<!--END account button ans his listing-->

		<!-- script account button-->
		<script>
		$(document).ready(function(){
			if(!Modernizr.input.placeholder) {
				$("input[placeholder]").each(function() {
					var placeholder = $(this).attr("placeholder");

					$(this).val(placeholder).focus(function() {
						if($(this).val() == placeholder) {
							$(this).val("")
						}
					}).blur(function() {
						if($(this).val() == "") {
							$(this).val(placeholder)
						}
					});
				});
			} // Modernizr placeholder
		});

		$(document).ready(function(){
			/*var is_open_menu_account= false;
			$(".btn_account").click(function() {
				 if (is_open_menu_account) {
					// Close box
					is_open_menu_account= false;
				
					$(".account_menu_box").css("display", "none");
					$(".register_box").css("display", "none");
			
				 } else {
					// Open box
					is_open_menu_account= true;
					$(".account_menu_box").css("display", "block");
					$(".register_box").css("display", "block");
					$(".save_box").css("display", "none");
					//$(".account_menu_box").width("410");
				 }
				 
				 return false;
			});*/
			
			
			var is_open_save_box= false;
			$("#btn_save").click(function() {
				 if (is_open_save_box) {
					// Close box
					is_open_save_box= false;
				
					$(".save_box").css("display", "none");
					$(".account_menu_box").width("auto");
			
				 } else {
					// Open box
					is_open_save_box= true;
					//console.log("open box");
					$(".save_box").css("display", "block");
					$(".register_box").css("display", "none");
					//$(".account_menu_box").width("410");
				 }
				 
				 return false;
			});
		});

		</script>
		<!-- END script account button-->
	
</section>

<!-- zone where google map in integrated -->
<div id='googleMap'></div>
<!-- END zone where google map in integrated -->

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>


<!-- script to integrat and personnalize google map for screen (difference with zoom)-->

<script>
function initialize(){

// Create an array of styles.
var styles = [
  {
  "featureType": "poi.attraction",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "poi.business",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "poi.place_of_worship",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "transit.line",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "poi.attraction",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "poi.medical",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "poi.school",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "landscape.man_made",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "poi.park",
  "elementType": "geometry",
  "stylers": [
    { "lightness": 41 }
  ]
},{
  "featureType": "transit.station.airport",
  "stylers": [
    { "lightness": 49 }
  ]
},{
  "featureType": "administrative",
  "elementType": "labels.text.fill",
  "stylers": [
    { "saturation": -100 },
    { "lightness": 24 }
  ]
},{
  "featureType": "road.highway",
  "stylers": [
    { "lightness": 26 }
  ]
},{
  "featureType": "road.arterial",
  "elementType": "geometry",
  "stylers": [
    { "visibility": "simplified" },
    { "color": "#d6cfc6" },
    { "lightness": 43 }
  ]
},{
  "featureType": "road.local",
  "elementType": "geometry.fill",
  "stylers": [
    { "color": "#d6cfc6" },
    { "lightness": 42 }
  ]
},{
  "featureType": "road.local",
  "elementType": "geometry.stroke",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "road.arterial",
  "elementType": "geometry.stroke",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "road.arterial",
  "elementType": "geometry.fill",
  "stylers": [
    { "visibility": "on" }
  ]
},{
  "featureType": "poi.park",
  "elementType": "labels",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "transit.station.rail",
  "elementType": "labels",
  "stylers": [
    { "saturation": -73 },
    { "lightness": 27 }
  ]
},{
  "featureType": "road.highway",
  "elementType": "geometry.stroke",
  "stylers": [
    { "visibility": "off" }
  ]
},{
  "featureType": "road.highway",
  "elementType": "geometry.fill",
  "stylers": [
    { "visibility": "on" },
    { "lightness": -5 }
  ]
},{
  "featureType": "administrative.land_parcel",
  "stylers": [
    { "visibility": "off" }
  ]
},{
}
];

 // Create a new StyledMapType object, passing it the array of styles,
  // as well as the name to be displayed on the map type control.
 	var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});	
	var myLatlng = 	new google.maps.LatLng(42.358431,-71.059773);
	var mapProp = {
	  center:myLatlng,
	  zoom:12,
	  //panControl: false,
	    //zoomControl: false,
	    //scaleControl: false,
	    //mapTypeControl: false,
		//streetViewControl:false,
		//scrollwheel: false,
		//draggable: true,
		panControl: false,
		zoomControl: false,
		mapTypeControl: false,
		scaleControl: false,
		draggable: false,
		scrollwheel: false,
		streetViewControl: false,
		overviewMapControl: false,
		
		mapTypeControlOptions: {
		  mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
		}
	};
	  
	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
	
	//Associate the styled map with the MapTypeId and set it to display.
	  map.mapTypes.set('map_style', styledMap);
	  map.setMapTypeId('map_style');
	
		
}
	
	
	google.maps.event.addDomListener(window, 'load', initialize);
</script>
<!--END script to integrat and personnalize google map-->

	<div class="clr"></div>
	
</div>
<div class="wrap result">
	
	<!-- preferences menu side bar for shool listing -->
	<div class="preferences">

		<!-- header only in tablet -->
		<div class="header_preferences">
			<p class="font_21">Choose what matters to Elizabeth: <span id="hide_btn">Hide Criteria &nbsp;<span aria-hidden="true" class="down_arrow icon-DBPS-Dev-Assets-SRG-41"></span></span><span id="show_btn">Show Criteria &nbsp;<span aria-hidden="true" class="up_arrow icon-DBPS-Dev-Assets-SRG-39"></span></span></p>
		</div>
		<!-- END header only in tablet -->
		
		<!-- preferences list for desktop and tablet situation -->
		<div id="preference_content">
			<div class="colonn">
				<div class="preference">
				
					<p class='title font_15'><span class='icon_pref' aria-hidden="true" data-icon="&#xe011;"></span><span class="text">School Start Time</span></p>
					<label class='font_13_14'><input type='radio' name='pref_school_start_time' value='7:30 am'/><span class="text">7:30 am</span></label>
					<label class='font_13_14'><input type='radio' name='pref_school_start_time' value='8:30 am' /><span class="text">8:30 am</span></label>
					<label class='font_13_14'><input type='radio' name='pref_school_start_time' value='9:30 am' /><span class="text">9:30 am</span></label>
				</div>
				<div class="preference">
					<p class='title font_15'><span class='icon_pref' aria-hidden="true" data-icon="&#xe011;"></span><span class="text">Surround Care</span></p>
					<label class='font_13_14'><input type='checkbox' name='pref_surround_care_before' value='before_school' /><span class="text">Before School</span></label>
					<label class='font_13_14'><input type='checkbox' name='pref_surround_care_after' value='after_school'  /><span class="text">After School</span></label>
				</div>
			</div>
			<div class="colonn">
				<div class="preference">
					<p class='title font_15'><span class='icon_pref' aria-hidden="true" data-icon="&#xe011;"></span><span class="text">Grades</span></p>
					<label class='font_13_14'><input type='radio' name='pref_grades' value='Early Learning Center' /><span class="text">Early Learning Center</span></label>
					<label class='font_13_14'><input type='radio' name='pref_grades' value='K-5' /><span class="text">K-5</span></label>
					<label class='font_13_14'><input type='radio' name='pref_grades' value='K-8' /><span class="text">K-8</span></label>
					<label class='font_13_14'><input type='radio' name='pref_grades' value='6-8' /><span class="text">6-8</span></label>
					<label class='font_13_14'><input type='radio' name='pref_grades' value='6-12' /><span class="text">6-12</span></label>
					<label class='font_13_14'><input type='radio' name='pref_grades' value='7-12 (Exam Schools)' /><span class="text">7-12 (Exam Schools)</span></label>
					<label class='font_13_14'><input type='radio' name='pref_grades' value='9-12' /><span class="text">9-12</span></label>
				</div>
				<div class="preference">
					<p class='title font_15'><span class='icon_pref' aria-hidden="true" data-icon="&#xe011;"></span><span class="text">Enrollment</span></p>
					<label class='font_13_14'><input type='checkbox' name='pref_enrollment_small' value='small' /><span class="text">Small</span></label>
					<label class='font_13_14'><input type='checkbox' name='pref_enrollment_medium' value='medium' /><span class="text">Medium</span></label>
					<label class='font_13_14'><input type='checkbox' name='pref_enrollment_large' value='large' /><span class="text">Large</span></label>
				</div>
				<div class="preference">
					<p class='title font_15'><span class='icon_pref' aria-hidden="true" data-icon="&#xe011;"></span><span class="text">Uniform Policy</span></p>
					<label class='font_13_14'><input type='radio' name='pref_uniform_policy' value='yes' /><span class="text">Yes</span></label>
					<label class='font_13_14'><input type='radio' name='pref_uniform_policy' value='no' /><span class="text">No</span></label>
				</div>
			</div>
			<div class="colonn">
				<div class="preference">
					<p class='title font_15'><span class='icon_pref' aria-hidden="true" data-icon="&#xe011;"></span><span class="text">Special Programs</span></p>
					<label class='font_13_14'><input type='checkbox' name='pref_special_programs' value='Advanced Work Class' /><span class="text">Advanced Work Class</span></label>
				</div>
				<div class="preference">
					<p class='title font_15'><span class='icon_pref' aria-hidden="true" data-icon="&#xe011;"></span><span class="text">School Focus</span></p>
					<label class='font_13_14'><input type='checkbox' name='pref_school_focus_arts' value='arts' /><span class="text">Arts</span></label>
					<label class='font_13_14'><input type='checkbox' name='pref_school_focus_health_careers' value='health_careers' /><span class="text">Health Careers</span></label>
					<label class='font_13_14'><span class='icon_pref' aria-hidden="true" data-icon="&#xe00c;"></span>More</label>
				</div>
				<div class="preference">
					<p class='title font_15'><span class='icon_pref' aria-hidden="true" data-icon="&#xe011;"></span><span class="text">Facility Features</span></p>
					<label class='font_13_14'><input type='checkbox' name='pref_facility_features_swimming_pool' value='swimming pool' /><span class="text">Swimming Pool</span></label>
					<label class='font_13_14'><input type='checkbox' name='pref_facility_features_wheelchair_access' value='wheelchair access' /><span class="text">Wheelchair Access</span></label>
					<label class='font_13_14'><span class='icon_pref' aria-hidden="true" data-icon="&#xe00c;"></span>More</label>
				</div>
			</div>
			<div class="colonn last">
				<div class="preference">
					<p class='title font_15'><span class='icon_pref' aria-hidden="true" data-icon="&#xe011;"></span><span class="text">Sports</span></p>
					<label class='font_13_14'><input type='checkbox' name='pref_sports_basketball' value='basketball' /><span class="text">Basketball</span></label>
					<label class='font_13_14'><input type='checkbox' name='pref_sports_football' value='football' /><span class="text">Football</span></label>
					<label class='font_13_14'><span class='icon_pref' aria-hidden="true" data-icon="&#xe00c;"></span>More</label>
				</div>
				<div class="preference">
					<p class='title font_15'><span class='icon_pref' aria-hidden="true" data-icon="&#xe011;"></span><span class="text">Health & Wellness</span></p>
					<label class='font_13_14'><input type='checkbox' name='pref_health_wellness_full_time_nurse' value='Full-time Nurse' /><span class="text">Full-time Nurse</span></label>
					<label class='font_13_14'><input type='checkbox' name='pref_health_wellness_part_time_nurse' value='Part-time Nurse' /><span class="text">Part-time Nurse Physical education</span></label>
					<label class='font_13_14'><input type='checkbox' name='pref_health_wellness_physical_education' value='Physical education' /><span class="text">Physical education</span></label>
					<label class='font_13_14'><input type='checkbox' name='pref_health_wellness_program_alternative' value='Program or alternative' /><span class="text">Program or alternative</span></label>
					<label class='font_13_14'><input type='checkbox' name='pref_health_wellness_outdoor_play_space' value='Outdoor play space' /><span class="text">Outdoor play space</span></label>
				</div>
			</div>
			<div class="clr"></div>
		</div>
		
	</div>
	<!-- preferences list-->
	<!-- school listing with menu -->
	<div id="school_list">
		<div class="shadow"></div>
		<div class="list_content">	
			<div class="flexible_content" >
				<!-- listing menu-->
				<div class="menu_list">
					<div class="li_frame">
						<div class="arrow menu_bloc">
							<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-31"></span>
						</div>
						<div class="choice menu_bloc">
							Choice order
						</div>
						<div id="getting_there" class=" menu_bloc ">
							<div class="first_block">
								Address 
							</div>
							
						</div>
						<div class=" menu_bloc">
							School hours
						</div>
						<div class=" menu_bloc">
							Grades
						</div>
						<div class="clr"></div>
					</div>
				</div>
				<!--END listing menu-->
				
				
				<!-- school listing-->
				<ul id="sortable">
					<!-- one school model -->
					<li id="list_1" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name select line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="select_icon icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>
					<!--END one school model -->
					<li id="list_2" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

					<li id="list_3" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

					<li id="list_4" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

					<li id="list_5" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

					<li id="list_6" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

					<li id="list_7" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

					<li id="list_8" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

					<li id="list_9" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

					<li id="list_10" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

					<li id="list_11" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

					<li id="list_12" class="ui-state-default ">
						<div class="li_frame">
							<div class="no_order line">
								<span class="middle">1</span>
							</div>
							<div class="school_name line">
								<span class="middle">
									Eliot K-8 
									<span aria-hidden="true" class="full_descrip_link icon-DBPS-Dev-Assets-SRG-11"></span> 
									<span aria-hidden="true" class="share_link icon-DBPS-Dev-Assets-SRG-12"></span>
								 </span>
							</div>
							<div class="box line getting_there ">
								<div class="first_block middle">
									
									<span class="middle">123 N Main St,<br/>Boston 02113</span>
								</div>
									
								
							</div>
							<div class="box line school_hours">
								<span  class="middle"> 7:30-2:30<br/>
									<div class="max_range">
										<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
											
										</div>
									</div>
								</span>
							</div>
							<div class="box line surround_care">
								<span class="middle">K-5</span>
							</div>
							<div class="clr"></div>
							
						</div>
							<!--END  School information -->
						
					</li>

											
				</ul>
				<!--end school listing-->
			</div>
			
		</div>
		
	</div>
	<!--END school listing with menu -->

	
</div>
	
<footer class="footer">
	<div class="wrap">
		<section class="content_wrap">
			<a class="site_link" href="http://discover.bostonpublicschools.org" title="Discover Boston Public Schools">Discover.BostonPublicSchools.org</a>
			<div class='logo'><a href='javascript:void();'><img src='img/bps-logo.png'/></a></div>
			<div class='clr'></div>
		</section>
	</div>
</footer>
