<div class="content">
	<h2>Editing Preference</h2>

	<%= form_for(:preference, :url => admin_preference_path(@preference), :html => {:method => :put}) do |f| %>
		<%= render :partial => 'form', :locals => {:f => f} %>
	  
	  <div class="actions">
	  	<%= f.submit 'Save', :class => 'add_button', :disable_with => "Please wait..." %>
	  	&nbsp;&nbsp;
	  	<%= link_to 'Cancel', admin_preferences_path %>
	  </div>
	<% end %>
</div>