.close_icon
	%span{:aria => {hidden: 'true'}, :class => 'icon-DBPS-Dev-Assets-SRG-07'}

.content
	%h2 Has your child been invited to the Advanced Work Class (AWC) Program?

	= form_tag set_awc_student_path(@student), method: :put, remote: true, 'data-type' => 'script' do

		%p
			= radio_button_tag '[student]awc_invitation', true, @student.awc_invitation == true
			Yes
		%p
			= radio_button_tag '[student]awc_invitation', false, @student.awc_invitation == false
			No

		.btn
			= submit_tag 'Next', disable_with: 'Working...', id: 'awc_next_button', class: 'orange_submit'

	.footnote.light
		%p{style: "color: #565656;"}
			Advanced Work Class (AWC) is a full-time program in the Boston Public Schools that provides an accelerated academic curriculum for students in grades 4, 5 and 6.
			By responding “Yes” above, this tool will include AWC schools in your student’s list.
			However, only students that have been formally invited to AWC will have these schools appear on their actual registration form.

:javascript
	$('#awc_next_button').click(function() {
		$('#awc_next_button').prop('value', 'Working...');
	});
	$(".close_icon").click(function() {
		$(".dialog_box").fadeOut("fast").removeClass("active");
	});
	$(".dialog_box").click(function(e){
		e.stopPropagation();
	});
