@import 'partials/shared/variables';
@import 'partials/shared/mixins';

@import 'partials/global/base';
@import 'partials/global/typography';
@import 'partials/global/forms';
@import 'partials/global/fonts';

@import 'partials/layout-models';
@import 'partials/ie';

@import 'partials/media-queries/print';
@import 'partials/media-queries/large';
@import 'partials/media-queries/medium';
@import 'partials/media-queries/small';

body.admin {
	background-color: #0077cf;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 40px;
	color: #333333;
}

.admin-wrap {
  margin: 0 auto;
  padding: 0 50px;
  position: relative;

	.content_wrap {
	  //margin: 0 87px;
	  //position: relative;
	}
}

.page {
	background-color: #ffffff;
}
.content {
	padding: 30px 30px 50px 30px;
}

.wrap .page_content {
	padding: 48px 0 60px 0;
}

.alert-error {
	padding: 20px 20px 5px 20px;
	margin-bottom: 20px;
	background-color: #fc0d1b;
	color: white;
	font-weight: bold !important;
}

a { color: #0077cf; text-decoration: none; }
a:hover { color: #0077cf; text-decoration: underline; }

a.white { color: #ffffff; text-decoration: none; }
a.white:hover { color: #ffff00; text-decoration: none; }

h1 { font-size: 2.8em; margin-bottom: .2em; }
h2 { font-size: 2.4em; margin-bottom: .6em; }
h3 { font-size: 1.5em; margin-bottom: .6em; }
h4 { font-size: 1.2em; }

table {
	tr.hover:hover { background-color: #eeeeee;}
	td { padding-top: 5px; padding-bottom: 5px; vertical-align: middle; }
}

.field {
	margin-bottom: 10px;
	font-size: 14px;

	label { margin-bottom: 5px; }
}

ul.with_bullets {
	list-style: disc inside none;
	margin-left: 20px;
}

.add_button {
	font-family: AvenirLT-Black, Arial Black, Arial Black, Gadget, sans-serif;
	font-size: 14px;
	color: white;
	text-decoration: none;
	padding: 12px 13px 11px 13px;
	background-color: #72c900;
	border: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.add_button:hover {
	text-decoration: none;
}
.edit_button {
	font-family: AvenirLT-Black, Arial Black, Arial Black, Gadget, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: white;
	text-decoration: none;
	padding: 9px;
	background-color: #0050a8;
	border: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.edit_button:hover {
	text-decoration: none;
	color: white;
}
.delete_button {
	color: white !important;
	font-family: AvenirLT-Black, Arial Black, Arial Black, Gadget, sans-serif;
	font-size: 12px;
	background-color: #fc0d1b !important;
	border: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	width: auto !important;
	margin-top: 2px;
	padding: 1px 8px 0 8px;
	height: 30px;
}
#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.stat {
  margin-top: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.responsive-image {
	max-width: 100% !important;
}

#nav {
	padding: 15px 0 10px 0;
}

a.tab {
	padding: 10px 20px 10px 20px;
	color: #969696;
	background: #ebebeb;
	font-size: 15px;
}

a.tab.active {
	background: #fc5b00;
	color: white;
}

a.tab:hover {
	background: #fc5b00;
	color: white;
	text-decoration: none;
}

th.header {
	width: 8% !important;
	background-color: #dddddd;
	border: 1px solid #777777;
	text-align: center;
}
