.ui-widget-content {
  background-color: #0059a3;
  width: 400px;
  padding: 10px;
  color: #80bce7;
}
.ui-menu-item { 
  cursor: pointer; 
}
.add_child {
	cursor: pointer;
}
a.orange_button {
	padding: 13px 12px 10px 12px;
	background-color: #fc5b00;
	text-decoration: none;
}
a.orange_button:hover {
	text-decoration: none;
}
a.green_button {
	padding: 13px 12px 10px 12px;
	background-color: #72c900;
	text-decoration: none;
}
a.green_button:hover {
	text-decoration: none;
}
ul.horizontal_list li {
	float: left;
	height: 45px;
	margin-right: 12px;
}
.name_info {
	cursor: pointer;
}
a.student_tab {
	text-decoration: none;
}
.orange_submit {
	color: white !important;
	font-family: AvenirLT-Black, Arial Black, Arial Black, Gadget, sans-serif;
	font-size: 16px;
	background-color: #fc5b00 !important;
	border: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	width: auto !important;
	padding-left: 12px;
	padding-right: 12px;
	height: 38px;
}
.signup {
	margin-top: 10px;
}
.preference_category_title span {
	color: #565656 !important;
}
.preference_category_title {
	margin-bottom: 0.8em !important;
}
.school_description {
	padding: 23px;
	float: left;
}
.school_description p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	width: auto !important;
}
#about_title {
	padding-left: 20px;
}
.school_name {
	cursor: pointer;
}

#dialog_box .search .search_section .content_left form .form_line input {
  background: #ebebeb;
  margin-bottom: 12px;
}
#dialog_box .search .search_section .content_left form .form_line .bloc_2.select_grade {
  cursor: pointer;
  position: relative;
  height: 26px;
  width: 71px;
  padding-top: 12px;
  background: #ebebeb;
  color: #565656;
  font-family: AvenirLT-Black, Arial Black, Arial Black, Gadget, sans-serif;
  color: #565656;
  font-size: 16px;
}
.list_row {
	cursor: row-resize;
}
.icon-map-pin:before {
	content: "\e024";
}
.icon-map-home:before {
	content: "\e00a";
}