.close_icon
	%span{:aria => {hidden: 'true'}, :class => 'icon-DBPS-Dev-Assets-SRG-07'}

.content
	-#.modal_steps
		%a.step.one{:href => '#'}
			%span.icon.icon-openone
		%a.step.two{:href => '#'}
			%span.icon.icon-closedtwo
		%a.step.three{:href => '#'}
			%span.icon.icon-openthree
	%h2
		Does your child have an Individual Education Plan (IEP) for special education needs?

	= form_tag student_sped_preferences_path, method: :post, remote: true, 'data-type' => 'script' do

		%p
			= radio_button_tag '[student]sped_needs', true, current_student.sped_needs == true
			Yes
		%p
			= radio_button_tag '[student]sped_needs', false, current_student.sped_needs == false
			No

		.btn
			= submit_tag 'Next', disable_with: 'Working...', id: 'sped_next_button', class: 'orange_submit'


	.footnote.light
		%p{style: "color: #565656;"}
			For students with disabilities, placement in a school is determined by their Individualized Education Plan (IEP) and the availability of appropriate seats.
			While families are able to indicate school choices through the regular assignment process, placement decisions are made by Boston Public Schools’ IEP team.
			Students with low levels of need (i.e. Pull-Out or Push-In Resources) can have these needs met in any district school on their Home-Based List.
			However, students with higher levels of needs may qualify for seats in a specific program.
			After you register, your child’s IEP will be reviewed by special education staff members who will determine which schools and programs are the most appropriate options for your child.

			%br
			%br
			%span.dark_blue
				%a{:href => "https://www.bostonpublicschools.org/Page/6128"} Click here
			to learn more about Boston Public Schools' special education programs.  You can also contact the Office of Specialized Services at 617-635-8599 or specialeducation@bostonpublicschools.org.

:javascript
	$('#sped_next_button').click(function() {
		$('#sped_next_button').prop('value', 'Working...');
	});
	$(".close_icon").click(function() {
		$(".dialog_box").fadeOut("fast").removeClass("active");
	});
	$(".dialog_box").click(function(e){
		e.stopPropagation();
	});
