%div{id: 'ell_header', class: 'li_frame school_list_header', style: 'display: none;'}
  #sortable_choice_order_column.arrow.menu_bloc.desktop.no_mobile
    .column_title
      Star

  #sortable_school_name_column.menu_bloc.sortable_column
    .column_title
      Name

  #sortable_fit_column.menu_bloc.sortable_column
    .column_title
      ELL Offering

  #sortable_eligibility_column.menu_bloc.sortable_column
    .column_title
      Cluster
