<footer class="footer">
	<div class="wrap">
		<section class="content_wrap">
			<p class='title_footer'>
				<%= link_to "Boston Public Schools", 'http://bostonpublicschools.org', target: '_blank' %><br/>
				<span class="copyright">Copyright &copy; 2011-<%= Date.today.year %> Boston Public Schools.
			</p>
			<div class='logo'><a href='http://bostonpublicschools.org' target='_blank'><img src='/assets/bps-logo.png'/></a></div>
			<div class='clr'></div>
		</section>
	</div>
</footer>

<script>	
	$("body").click(function(){
  	$(".dialog_box").fadeOut("fast").removeClass("active");
	});
	$(".dialog_box").click(function(e){
  	e.stopPropagation();
	});
</script>